mixin sBlog(data)
	// start sBlog
	+b.sBlog.section#sBlog&attributes(attributes)
		.container
			+productTags('','Все публикации','новости','акции')
			//- +e.slider--js.swiper
			//- 	.swiper-wrraper
			//- 		+e.slide.swiper-slide 
			//- 			button Все публикации
			//- 		+e.slide.swiper-slide 
			//- 			button новости
			//- 		+e.slide.swiper-slide 
			//- 			button акции

			+e.row.row
				article.col-md-6.col-xl-4
					+catalogRowItem('2','МЕБЕЛЬ В ДЕТСКУЮ','Чтобы ответить на&nbsp;поставленный в&nbsp;заголовке вопрос, стоит для начала определить, в&nbsp;чем заключается отличие дополнительного и&nbsp;основного')
				article.col-md-6.col-xl-4
					+catalogRowItem('2','МЕБЕЛЬ В ДЕТСКУЮ','Чтобы ответить на&nbsp;поставленный в&nbsp;заголовке вопрос, стоит для начала определить, в&nbsp;чем заключается отличие дополнительного и&nbsp;основного')
				article.col-md-6.col-xl-4
					+catalogRowItem('2','МЕБЕЛЬ В ДЕТСКУЮ','Чтобы ответить на&nbsp;поставленный в&nbsp;заголовке вопрос, стоит для начала определить, в&nbsp;чем заключается отличие дополнительного и&nbsp;основного')
				article.col-md-6.col-xl-4
					+catalogRowItem('2','МЕБЕЛЬ В ДЕТСКУЮ','Чтобы ответить на&nbsp;поставленный в&nbsp;заголовке вопрос, стоит для начала определить, в&nbsp;чем заключается отличие дополнительного и&nbsp;основного')
				article.col-md-6.col-xl-4
					+catalogRowItem('2','МЕБЕЛЬ В ДЕТСКУЮ','Чтобы ответить на&nbsp;поставленный в&nbsp;заголовке вопрос, стоит для начала определить, в&nbsp;чем заключается отличие дополнительного и&nbsp;основного')
				article.col-md-6.col-xl-4
					+catalogRowItem('2','МЕБЕЛЬ В ДЕТСКУЮ','Чтобы ответить на&nbsp;поставленный в&nbsp;заголовке вопрос, стоит для начала определить, в&nbsp;чем заключается отличие дополнительного и&nbsp;основного')
				article.col-md-6.col-xl-4
					+catalogRowItem('2','МЕБЕЛЬ В ДЕТСКУЮ','Чтобы ответить на&nbsp;поставленный в&nbsp;заголовке вопрос, стоит для начала определить, в&nbsp;чем заключается отличие дополнительного и&nbsp;основного')
				article.col-md-6.col-xl-4
					+catalogRowItem('2','МЕБЕЛЬ В ДЕТСКУЮ','Чтобы ответить на&nbsp;поставленный в&nbsp;заголовке вопрос, стоит для начала определить, в&nbsp;чем заключается отличие дополнительного и&nbsp;основного')
				article.col-md-6.col-xl-4
					+catalogRowItem('2','МЕБЕЛЬ В ДЕТСКУЮ','Чтобы ответить на&nbsp;поставленный в&nbsp;заголовке вопрос, стоит для начала определить, в&nbsp;чем заключается отличие дополнительного и&nbsp;основного')
			.bottom-controls
				.catalog-sorter__display.d-none.d-md-flex Отображать по:
					button(class="catalog-sorter__btn btn active" type="button") 12
					button(class="catalog-sorter__btn btn" type="button") 24
					button(class="catalog-sorter__btn btn" type="button") 48
				.d-flex
					+pugin()



				
	// end sBlog