// start .sBlog
.sBlog {
	--sPT: #{rem(10)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};

	&__row {
		--bs-gutter-x: #{rem(33)};
		--bs-gutter-y: #{rem(33)};
		margin-bottom: 31px;
		.col-md-6.col-xl-4 {
			@include media-breakpoint-down(xl) {
				&:nth-child(n+9) {
					display: none;
				}
			}
			@include media-breakpoint-down(md) {
				&:nth-child(n+7) {
					display: none;
				}
			}
		}
	}
	.catalog-item__text {
		max-width: none;
	}

	.tags-list {
		margin-bottom: 40px;
		&__item {
			&:first-child {
				.tags-list__btn {
					background-color: $red;
					color: $white;
				}
			}
		}
	}
	&__bottom-controls {
		display: flex;
		.catalog-sorter__display {
			margin-right: auto;
		}
	}
	.page-numbers {
		@include media-breakpoint-down(lg) {
			--bs-pagination-hover-bg: #fff;
			--bs-pagination-hover-border-color: #dee2e6;
			--bs-pagination-hover-color: #7a7a7a;
		}
	}

	.pagination-wrapper {
		width: 100%;
	}

	.section-title{
		
	}
	&__col{

	}
	&__item{

	}



	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sBlog