mixin footer()
	+b.FOOTER.footer
		.container
			+e.row.row
				.col-sm-6.col-xl-3
					+e.logo(href="/")
						+logo()
						//- +img("img/footer-logo.png")
					+b.footer-nav
						+e.title Категории
						nav
							ul
								li
									+e.link(href="#") Кухни на заказ
								li
									+e.link(href="#") Мебель в детскую
								li
									+e.link(href="#") Столовые группы
					+b.footer-nav
						+e.title--fading Категории
						nav
							ul
								li
									+e.link(href="#") Дизайнерам
								li
									+e.link(href="#") Производителям мебели
				.col-sm-6
					+soc
						+item-sos('vk')
					+b.footer-nav--info.footer-nav--columns
						+e.title ПОЛЕЗНАЯ ИНФОРМАЦИЯ
						nav
							ul
								li
									+e.link(href="#") О компании
								li
									+e.link(href="#") Рассрочка
								li
									+e.link(href="#") Наши видео
								li
									+e.link(href="#") Фото наших работ
								li
									+e.link(href="#") Гарантия
								li
									+e.link(href="#") Сборка
								li
									+e.link(href="#") Доставка
								li
									+e.link(href="#") Дизайн-замер
								li
									+e.link(href="#") Оплата
								li
									+e.link(href="#") Полезные статьи
								li
									+e.link(href="#") Отзывы
								li
									+e.link(href="#") Часто задаваемы вопросы
								li
									+e.link(href="#") Вакансии
								li
									+e.link(href="#") Наши партнеры
				+e.col.col-xl-3
					+e.buttons
						+e.btn.btn.btn-outline-primary(href="#" data-src='modal-apply2' data-fancybox="modal")
								+icon("calc")
								| Онлайн расчет кухни
						+e.btn.btn.btn-outline-primary(href="#" data-src="modal-call" data-fancybox="modal")
								+icon("designer")
								| Вызвать дизайнера
					+e.schedule
						+icon("time")
						| ПН-ПТ, с 9:00 - 18:00
						span Без перерыва
					+e.email(href="mailto:sales@palazo.ru")
						+icon("email")
						| sales@palazo.ru
					+e.phone
						+e.phone-link(href="tel:+74942501621") 8 (4942) 501-621
						+e.phone-icon(href="https://wa.me/74942501621")
							//- +icon("whatsapp")
							+whatsappgreen
						//- +e.phone-icon(href="viber://chat?number=%2B374942501621")
						//- 	+icon("viber")
					+e.address.ADDRESS Адрес флагманского салона г.&nbsp;Кострома, ул. Димитрова 15
			+e.bottom
				+e.copyright ©2017-#[span 2021 ] г. Все права защищены
				+e.payment
					//- +img('img/mir.png')
					//- +img('img/mastercard.png')
					//- +img('img/visa.png')
					<svg width="49" height="14" viewBox="0 0 49 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_899_13987)">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M43.5 0H34.2C34.7 3.1 37.7 6 41 6H48.4C48.5 5.7 48.5 5.3 48.5 5C48.5 2.2 46.3 0 43.5 0Z" fill="url(#paint0_linear_899_13987)"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M35 6.5V14H39.5V10H43.5C45.7 10 47.6 8.5 48.2 6.5H35Z" fill="#4DB45F"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M19 0V14H23C23 14 24 14 24.5 13C27.2 7.6 28 6 28 6H28.5V14H33V0H29C29 0 28 0.1 27.5 1C25.2 5.6 24 8 24 8H23.5V0H19Z" fill="#4DB45F"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0 14V0H4.5C4.5 0 5.8 0 6.5 2C8.3 7.3 8.5 8 8.5 8C8.5 8 8.9 6.7 10.5 2C11.2 0 12.5 0 12.5 0H17V14H12.5V6.5H12L9.5 14H7.5L5 6.5H4.5V14H0Z" fill="#4DB45F"/>
						</g>
						<defs>
						<linearGradient id="paint0_linear_899_13987" x1="34.1742" y1="3" x2="48.5" y2="3" gradientUnits="userSpaceOnUse">
						<stop stop-color="#00B4E6"/>
						<stop offset="1" stop-color="#088CCB"/>
						</linearGradient>
						<clipPath id="clip0_899_13987">
						<rect width="49" height="14" fill="white"/>
						</clipPath>
						</defs>
					</svg>
					<svg width="40" height="24" viewBox="0 0 40 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M25.7564 2.56543H15.2156V21.4342H25.7564V2.56543Z" fill="#FF5F00"/>
						<path d="M15.8849 12C15.8832 10.1828 16.2966 8.38902 17.0938 6.7545C17.8909 5.11997 19.0509 3.68753 20.486 2.5656C18.7089 1.17415 16.5746 0.308826 14.3271 0.0685352C12.0796 -0.171755 9.80957 0.222674 7.77648 1.20676C5.74338 2.19084 4.02925 3.72487 2.83001 5.6335C1.63077 7.54212 0.994812 9.74834 0.994812 12C0.994812 14.2516 1.63077 16.4578 2.83001 18.3665C4.02925 20.2751 5.74338 21.8091 7.77648 22.7932C9.80957 23.7773 12.0796 24.1717 14.3271 23.9314C16.5746 23.6911 18.7089 22.8258 20.486 21.4344C19.051 20.3124 17.8909 18.88 17.0938 17.2455C16.2966 15.6109 15.8832 13.8172 15.8849 12Z" fill="#EB001B"/>
						<path d="M39.9766 12C39.9767 14.2516 39.3408 16.4578 38.1417 18.3664C36.9425 20.275 35.2284 21.8091 33.1953 22.7932C31.1623 23.7773 28.8923 24.1717 26.6448 23.9314C24.3974 23.6911 22.2631 22.8258 20.486 21.4344C21.9198 20.3113 23.0789 18.8786 23.876 17.2444C24.673 15.6101 25.0871 13.8169 25.0871 12C25.0871 10.1831 24.673 8.38987 23.876 6.7556C23.0789 5.12134 21.9198 3.68866 20.486 2.5656C22.2631 1.17414 24.3974 0.30882 26.6448 0.0685321C28.8923 -0.171755 31.1623 0.222691 33.1953 1.20678C35.2284 2.19088 36.9425 3.72491 38.1417 5.63353C39.3408 7.54216 39.9767 9.74837 39.9766 12Z" fill="#F79E1B"/>
						<path d="M38.8273 19.4355V19.0492H38.9837V18.9705H38.5854V19.0492H38.7419V19.4355H38.8273ZM39.6005 19.4355V18.9697H39.4784L39.338 19.2901L39.1976 18.9697H39.0754V19.4355H39.1616V19.0842L39.2933 19.3871H39.3827L39.5144 19.0834V19.4355H39.6005Z" fill="#F79E1B"/>
					</svg>
					<svg width="50" height="18" viewBox="0 0 50 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.9847 1.20977L12.4396 16.8275H8.16777L4.94922 4.36494C4.75107 3.59629 4.58174 3.3167 3.9876 2.99033C3.01436 2.46416 1.41348 1.97051 0 1.66318L0.0989258 1.20986H6.97187C7.84844 1.20986 8.63652 1.79453 8.83467 2.80244L10.5365 11.8417L14.74 1.20986H18.9847V1.20977ZM35.7177 11.7262C35.7366 7.60645 30.0172 7.38223 30.0583 5.53916C30.0694 4.97656 30.6026 4.38125 31.7704 4.23096C32.3503 4.15381 33.9461 4.09727 35.7548 4.92764L36.4637 1.61728C35.4905 1.26406 34.2396 0.925781 32.685 0.925781C28.6919 0.925781 25.8809 3.04971 25.8571 6.08867C25.831 8.33604 27.8627 9.59004 29.3952 10.3385C30.9688 11.1043 31.495 11.5933 31.4895 12.2801C31.4791 13.3283 30.2339 13.7864 29.0724 13.807C27.0406 13.8387 25.8622 13.258 24.9211 12.8197L24.1896 16.2438C25.1322 16.6767 26.8776 17.0524 28.6839 17.0746C32.9279 17.0744 35.7043 14.9731 35.7177 11.7262ZM46.2625 16.8276H50L46.7388 1.20986H43.2885C42.5132 1.20986 41.8596 1.66201 41.5685 2.35469L35.5097 16.8276H39.7504L40.5922 14.4952H45.776L46.2625 16.8276ZM41.7543 11.2941L43.8817 5.42998L45.1057 11.2941H41.7543ZM24.7583 1.20977L21.4155 16.8275H17.3746L20.7182 1.20977H24.7583Z" fill="#00579F"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M4.32419 3.20576C4.22948 3.13241 4.11892 3.06256 3.9876 2.99043C3.01436 2.46426 1.41348 1.97061 0 1.66328L0.0989258 1.20996H6.97187C7.84844 1.20996 8.63652 1.79463 8.83467 2.80254L10.1898 10.0001C9.20895 7.0057 6.06079 4.35591 4.32419 3.20576Z" fill="#FAA61A"/>
					</svg>
				+e.links
					+e.map(href="#") Карта сайта
					+e.policy(href="#") Политика&nbsp;конфиденциальности