mixin footer()
	+b.FOOTER.footer
		.container
			+e.row.row
				.col-sm-6.col-xl-3
					+e.logo(href="/")
						+img("img/footer-logo.png")
					+b.footer-nav
						+e.title Категории
						ul
							li
								+e.link(href="#") Кухни на заказ
							li
								+e.link(href="#") Мебель в детскую
							li
								+e.link(href="#") Столовые группы
					+b.footer-nav
						+e.title--fading Категории
						ul
							li
								+e.link(href="#") Дизайнерам
							li
								+e.link(href="#") Производителям мебели
				.col-sm-6
					+soc
					+b.footer-nav--info.footer-nav--columns
						+e.title ПОЛЕЗНАЯ ИНФОРМАЦИЯ
						ul
							li
								+e.link(href="#") О компании
							li
								+e.link(href="#") Рассрочка
							li
								+e.link(href="#") Наши видео
							li
								+e.link(href="#") Фото наших работ
							li
								+e.link(href="#") Гарантия
							li
								+e.link(href="#") Сборка
							li
								+e.link(href="#") Доставка
							li
								+e.link(href="#") Дизайн-замер
							li
								+e.link(href="#") Оплата
							li
								+e.link(href="#") Полезные статьи
							li
								+e.link(href="#") Отзывы
							li
								+e.link(href="#") Часто задаваемы вопросы
							li
								+e.link(href="#") Вакансии
							li
								+e.link(href="#") Наши партнеры
				.col-xl-3
					+e.buttons
						+e.btn.btn.btn-outline-primary(href="#" data-src='modal-apply2' data-fancybox="modal")
								+icon("calc")
								| Онлайн расчет кухни
						+e.btn.btn.btn-outline-primary(href="#" data-src="modal-call" data-fancybox="modal")
								+icon("designer")
								| Вызвать дизайнера
					+e.schedule
						+icon("time")
						| ПН-ПТ, с 9:00 - 18:00
						span Без перерыва
					+e.email(href="mailto:sales@palazo.ru")
						+icon("email")
						| sales@palazo.ru
					+e.phone
						+e.phone-link(href="tel:+74942501621") 8 (4942) 501-621
						+e.phone-icon(href="https://wa.me/74942501621")
							+icon("whatsapp")
						+e.phone-icon(href="viber://chat?number=%2B374942501621")
							+icon("viber")
					+e.address.ADDRESS Адрес флагманского салона г.&nbsp;Кострома, ул.Северной правды&nbsp;35
			+e.bottom
				+e.copyright ©2017-2021 г. Все права защищены
				+e.payment
					+img('img/mir.png')
					+img('img/mastercard.png')
					+img('img/visa.png')
				+e.links
					+e.map(href="#") Карта сайта
					+e.policy(href="#") Политика&nbsp;конфиденциальности