.footer {
	padding-top: rem(70);
	background-color: $gray-900;
	margin-top: auto;
	@include media-breakpoint-down(sm) {
		padding-top: rem(31);
	}
	&__row {
		position: relative;
		margin-bottom: 28px;
		@include media-breakpoint-down(sm) {
			margin-bottom: rem(10);
		}
	}
	&__col {
		@include media-breakpoint-down(xl) {
			text-align: center;
		}
	}
	&__logo {
		display: block;
		margin-bottom: rem(55);
		width: 150px;
		height: 31px;
		@include media-breakpoint-down(sm) {
			width: 120px;
			height: 26px;
			margin-bottom: rem(36);
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	.soc {
		margin-bottom: rem(58);
		@include media-breakpoint-down(sm) {
			position: absolute;
			top: 0;
			right: 12px;
		}
		&>* {
			margin-left: 6.5px;
			margin-right: 6.5px;
		}
		&__item {
			width: 24px;
			height: 24px;
			border: 1.5px solid #CAD0D7;
			border-radius: 50%;
			@include mt;
			&:hover {
				@include media-breakpoint-up(md) {
					border: 1.5px solid $red;
					.icon {
						color: $red;
					}
				}
			}
		}
		.icon {
			width: 10px;
			height: 10px;
			color: #CAD0D7;
			@include mt;
		}
	}
	&__buttons {
		margin-bottom: rem(32);
	}
	&__btn {
		padding: 10px;
		margin-bottom: 16px;
		width: 50%;
		@include media-breakpoint-up(xl) {
			width: 100%;
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		.icon {
			width: 24px;
			height: 24px;
			margin-right: 22px;
		}
	}
	&__schedule {
		display: flex;
		align-items: center;
		margin-bottom: 13px;
		font-size: 12px;
		color: $gray-100;
		font-weight: 600;
		@include media-breakpoint-down(xl) {
			justify-content: center;
		}
		.icon {
			margin-right: 8px;
			width: 16px;
			height: 16px;
		}
		span {
			margin-left: 10px;
			color: $gray-600;
		}
	}
	&__email {
		display: flex;
		align-items: center;
		margin-bottom: 22px;
		font-weight: 600;
		font-size: 12px;
		color: $red;
		@include media-breakpoint-down(xl) {
			justify-content: center;
		}
		.icon {
			width: 16px;
			height: 16px;
			margin-right: 8px;
		}
	}
	&__phone {
		margin-bottom: rem(41);
		font-size: rem(18);
		&-link {
			margin-right: 22px;
			color: $white;
		}
		&-icon {
			&:hover {
				@include media-breakpoint-up(md) {
					.icon {
						color: $red;
					}
				}
			}
		}
		.icon {
			margin-right: 12px;
			width: 16px;
			height: 16px;
			color: $white;
			@include mt;
		}
	}
	&__address {
		font-weight: 600;
		font-size: 12px;
		line-height: 155%;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: $gray-100;
		max-width: 222px;
		@include media-breakpoint-down(xl) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__bottom {
		padding: 38px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-top: 1px dashed $gray-600;
		@include media-breakpoint-down(lg) {
			flex-direction: column;
			justify-content: center;
		}
		@include media-breakpoint-down(lg) {
			padding: 23px 0;
		}
	}
	&__copyright {
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: $white;
		opacity: 0.5;
		@include media-breakpoint-down(lg) {
			margin-bottom: 32px;
		}
	}
	&__payment {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(lg) {
			order: 1;
		}
		img {
			max-width: 50px;
			max-height: 24px;
			&:not(:last-child) {
			margin-right: 22px;
			}
		}
	}
	&__links {
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		a:not(:last-child) {
			margin-right: rem(46);
			@include media-breakpoint-down(sm) {
				margin-right: 0;
				margin-bottom: 17px;
			}
		}
		@include media-breakpoint-down(lg) {
			margin-bottom: 32px;
		}
		@include media-breakpoint-down(sm) {
			display: flex;
			flex-direction: column;
			align-items: center;
			line-height: 155%;
		}
	}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
.footer-nav {
	margin-bottom: rem(43);
	@include media-breakpoint-down(sm) {
		display: inline-block;
		margin-bottom: rem(19);
		width: 49%;
	}
	&--info {
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	&--columns {
		ul {
			columns: 2 190px;
			column-gap: rem(18);
			@include media-breakpoint-down(xl) {
				columns: 2 150px;
			}
			@include media-breakpoint-down(md) {
				columns: 2 100px;
			}
		}
	}
	&__title {
		margin-bottom: rem(23);
		font-weight: 500;
		font-size: rem(24);
		line-height: 100%;
		text-transform: uppercase;
		color: $gray-600;
		&--fading {
			@include media-breakpoint-down(sm) {
				margin-bottom: 30px;
				opacity: 0;
			}
		}
		@include media-breakpoint-down(sm) {
			font-size: rem(20);
			margin-bottom: rem(16);
		}
	}
	ul{
		max-width: 400px;
		list-style-type: none;
	}
	li {
		@include media-breakpoint-down(md) {
			margin-bottom: 5px;
		}		
	}
	&__link {
		font-size: 15px;
		line-height: 155%;
		color: $gray-100;
		@include media-breakpoint-down(sm) {
			font-size: 12px;
		}
	}
}
