mixin sCookies(data)
	// start sCookies
	+b.SECTION.sCookies.section#sCookies&attributes(attributes)
		.container
			+e.row
				p Мы&nbsp;используем файлы cookie. Пользуясь настоящим веб-сайтом, Вы&nbsp;даете свое согласие на&nbsp;использование файлов cookies. 
					a(href="#") Узнать подробнее
				+btn('OK','button').cookie-btn--js.btn.btn-primary
	// end sCookies