mixin sForm()
	// start sForm
	+b.SECTION.sForm.section#sForm&attributes(attributes)
		.container
			+e.container
				+e.text-col
					+b.section-title
						h2 ЕСТЬ ВОПРОСЫ?
						.section-subtitle Наши специалисты ответят на них
					+e.descr.P Задайте их&nbsp;по&nbsp;номеру телефона&nbsp;#[a(href="tel:+74950000000") +7 (495) 000-00-00] или оставте свой номер телефона и&nbsp;наш инженер перезвонит вам через 15&nbsp;минут
				+e.form-col
					+form-wrap()
						+input('Введите','tel','Ваш номер телефона')
						+e.button.btn.btn-primary(type="submit" data-src='modal-call' data-fancybox="modal") Оставить заявку
				.col-lg-9
					+e.policy.P Нажимая «Оставить завку», я соглашаюсь c 
						a(href="#")  обработкой персональных данных 
						| на условиях 
						a(href="#") Политики конфиденциальности.
	// end sForm

mixin sForm2()
	// start sForm
	+b.SECTION.sForm--2.section#sForm&attributes(attributes)
		+b.section-title
			+img('img/svg/question.svg')
			h4 нужна помощь?
		+e.form-col
			+form-wrap()
				+input('Введите','tel','Ваше имя')
				+input('Введите','tel','Ваш номер телефона')
				+input('Введите','email','E-mail')
				+input('Введите','text','Опишите свой вопрос')
				+e.button.BUTTON(type="submit").btn.btn-primary
					| Отправить
					+icon('arrow-right')
				+e.text Нажимая кнопку "Отправить" я соглашаюсь с #[a(href="#") Положением о персональных данных и конфиденциальности.]

mixin sFormFile()
	// start sFormFile
	+b.SECTION.sForm--file.section#sForm&attributes(attributes)
		.container
			+e.container
				+e.text-col
					+b.section-title
						h2 Я УЖЕ ЗНАЮ КАКУЮ КУХНЮ&nbsp;ХОЧУ
					+e.descr.P Просто отправте нам фото и мы посчитаем стоимость изготовления
					+e.policy--file.d-none.d-sm-block.P Нажимая «Оставить завку», я соглашаюсь c 
						a(href="#")  обработкой персональных данных 
						| на условиях 
						a(href="#") Политики конфиденциальности.
				+e.form-col
					+form-wrap()
						//- +add-file('Выбрать фото')
						.add-file.upload-field
							label
								input.add-file__input.input-upload(name='file' type='file')
								span.add-file__btn  
								span.add-file__text.upload-field__file-name Выбрать фото
							span.add-file__filename
						+input('Введите','tel','Ваш номер телефона')
						+e.button(type="submit" data-src='modal-thx' data-fancybox="modal").btn.btn-primary Оставить заявку
	// end sFormFile

mixin searchForm()
	+b.search-form
		+form-wrap()
			.row
				.col-12.col-sm-6.col-md-10
					+input('','text')
				.col-12.col-sm-6.col-md-2
					+e.button.BUTTON(type="submit").btn.btn-primary Поиск
	// end searchForm