// start .sExamples
.sExamples {
	--sPT: #{rem(0)};
	--sPB: #{rem(52)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(104)};
	}
	&__col {
		&:nth-child(n + 9) {
			display: none;
		}
	}
	.tabs {
		&__caption {
			@include roww(8px, m);
			--bs-gutter-y: var(--bs-gutter-x);
			display: flex;
			flex-wrap: wrap;
			margin-bottom: rem(20);
			margin-top: calc(var(--bs-gutter-y) * -1);
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(40);
			}
		}
		&__btn {
			margin-top: var(--bs-gutter-y);
			--bs-btn-padding-y: #{rem(11)};
			--bs-btn-color: #{$primary};
			--bs-btn-hover-color: #fff;
			--bs-btn-hover-bg: #{$primary};
			--bs-btn-hover-border-color: #{$primary};
			--bs-btn-active-color: #fff;
			--bs-btn-active-bg: #{$primary};
			--bs-btn-active-border-color: #{$primary};
		}
	}
	&__btn {
		margin-top: var(--bs-gutter-y);
		--bs-btn-padding-y: #{rem(11)};
		--bs-btn-active-color: #fff;
	}
	&__inner-row {
		--bs-gutter-x: #{rem(33)};
		--bs-gutter-y: #{rem(33)};
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sExamples