mixin sCard(data)
	// start sCard
	+b.SECTION.sCard.section#sCard&attributes(attributes)
		.container
			+e.row
				+e.action-buttons
					button.active
						+icon('compare')
					button
						+icon('fave')
				//- .col-lg-7.col-xl-8
				+e.images-wrap
					+e.tags
						.product-item__tag.product-item__tag--discount Скидка 15%
						.product-item__tag.product-item__tag--guarantee Гарантия 5 лет
						.product-item__tag.product-item__tag--promo Акция
					.swiper.card-slider.card-slider--js
						.swiper-wrapper
							.swiper-slide
								.card-slider__img-wrap
									+img('img/prod-1.jpg')
							.swiper-slide
								.card-slider__img-wrap
									+e.tags
										.product-item__tag.product-item__tag--discount Скидка 15%
										.product-item__tag.product-item__tag--guarantee Гарантия 5 лет
										.product-item__tag.product-item__tag--promo Акция
									+img('img/prod-2.jpg')
							.swiper-slide
								.card-slider__img-wrap
									+e.tags
										.product-item__tag.product-item__tag--discount Скидка 15%
										.product-item__tag.product-item__tag--guarantee Гарантия 5 лет
										.product-item__tag.product-item__tag--promo Акция
									+img('img/prod-3.jpg')
							.swiper-slide
								.card-slider__img-wrap
									+e.tags
										.product-item__tag.product-item__tag--discount Скидка 15%
										.product-item__tag.product-item__tag--guarantee Гарантия 5 лет
										.product-item__tag.product-item__tag--promo Акция
									+img('img/prod-4.jpg')
							.swiper-slide
								.card-slider__img-wrap
									+e.tags
										.product-item__tag.product-item__tag--discount Скидка 15%
										.product-item__tag.product-item__tag--guarantee Гарантия 5 лет
										.product-item__tag.product-item__tag--promo Акция
									+img('img/prod-5.jpg')
						+arrow
					.swiper.card-thumbs-slider.card-thumbs-slider--js
						.swiper-wrapper
							.swiper-slide
								.card-thumbs-slider__img-wrap
									+img('img/prod-1.jpg')
							.swiper-slide
								.card-thumbs-slider__img-wrap
									+img('img/prod-2.jpg')
							.swiper-slide
								.card-thumbs-slider__img-wrap
									+img('img/prod-3.jpg')
							.swiper-slide
								.card-thumbs-slider__img-wrap
									+img('img/prod-4.jpg')
							.swiper-slide
										.card-thumbs-slider__img-wrap
											+img('img/prod-5.jpg')
				+e.tabs.tabs.swiper
						.tabs__caption.swiper-wrapper
							.tabs__btn.swiper-slide.active Описание
							.tabs__btn.swiper-slide Оплата и рассрочка
							.tabs__btn.swiper-slide Доставка и монтаж
							.tabs__btn.swiper-slide Гарантии
							.tabs__btn.swiper-slide FAQ
						.tabs__content.active
							p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
							p Встроенную мебель нельзя перенести, сдвинуть, она плохо поддается демонтажу и&nbsp;сложно монтируется. Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
							p Встроенная мебель портит стены. Да, она крепится непосредственно в&nbsp;стены, которые предварительно просверливаются для дюбелей. Но&nbsp;зачем Вам стена за&nbsp;шкафом, который будет стоять не&nbsp;один год?
						.tabs__content
							p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
						.tabs__content
							p Встроенную мебель нельзя перенести, сдвинуть, она плохо поддается демонтажу и&nbsp;сложно монтируется. Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
						.tabs__content
							p Встроенная мебель портит стены. Да, она крепится непосредственно в&nbsp;стены, которые предварительно просверливаются для дюбелей. Но&nbsp;зачем Вам стена за&nbsp;шкафом, который будет стоять не&nbsp;один год?
						.tabs__content
							p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
				//- .col-lg-5.col-xl-4
				+e.descr-wrap
						.product-item__text-row
							.product-item__text-left.FORM
								.product-item__text-title Фасад верх
								.product-item__form-row
									+in-c('radio','ПВХ','front-up')(checked)
									+in-c('radio','ПЛАСТИК','front-up')
							.product-item__text-right.FORM
								.product-item__text-title Фасад верх
								.product-item__form-row
									+in-c('radio','ПВХ','front-down')(checked)
									+in-c('radio','ПЛАСТИК','front-down')
						.product-item__text-row
							.product-item__text-left
								.product-item__text-title Стоимость кухни от
								.product-item__price 110 900 р
							.product-item__text-right
								.product-item__text-title.d-none.d-lg-block Цена погонного метра
									.tooltips
										+icon('question')
									.tooltiptext Какой-то текст
										.tooltip-arrow(data-popper-arrow)
								.product-item__text-title.d-lg-none Цена п.м.
									.tooltips
										+icon('question')
									.tooltiptext Какой-то текст
										.tooltip-arrow(data-popper-arrow)
								.product-item__price 18 900 р
						+e.buttons
							+btn('Расчитать онлайн').btn.btn-primary
							+btn('Быстрый заказ').btn.btn-outline-primary
						+e.descr
							mixin descrItem(icon,term,def)
								+icon(`${icon}`)
								+e.text
									+e.term= term
									+e.defenition= def
							+descrItem('kitchen','Стиль','модерн, хай-тек, современный, минимализм')
							+descrItem('forms','Форма','прямые, линейные')
							+descrItem('label','Стоимость','от 70000 до 150000 руб.')
							+descrItem('size','Размеры','модерн, хай-тек, современный, минимализм')
							+descrItem('material','Материал','эмаль, их ЛДСП, из МДФ, пластик, пленка, ПВХ, Lavik Luxe (Алвик Люкс), глянцевые, акрил')
							+descrItem('color','Тип','черный, темный, мерый, комбинированный')
							+descrItem('option','Цвет','на заказ, летние для дачи, готовые, встроенные, модульные, для офиса, для квартиры и дома, для студии, для гостиной')
						+e.news.d-none.d-lg-block
							+e.news-title.H2 Полезные статьи
							+newsItem('04 июн 2022','Fresenius продолжает расширять сеть диализных центров в России','common')
							+newsItem('04 июн 2022','Академия Диализа Fresenius Medical Care запустила первый курс повышения квалификации','common')
							+newsItem('04 июн 2022','Fresenius открывает второй диализный центр в Красноярске','common')
							+e.news-archive(href="#") Архив статей
								+icon('forward')
			+e.features-row.d-none.d-md-grid
				mixin featureItem(icon='kitchen',text)
					+e.feature
						+icon(`${icon}`)
						+e.feature-text!= text
				+featureItem('kitchen','РАБОТАЕМ ПО ВСЕЙ РОСИИИ')
				+featureItem('kitchen','КАЖДОЕ ИЗДЕЛИЕ ИНДИВИДУАЛЬНО. БЕЗ НАЦЕНОК ЗА&nbsp;НЕ&nbsp;СТАНДАРТ')
				+featureItem('kitchen','ТОЛЬКО ЕВРОПЕЙСКАЯ ФУРНИТУРА И&nbsp;ЭКОЛОГИЧЕСКИ ЧИСТЫЕ МАТЕРИАЛЫ')
				+featureItem('kitchen','СБОРКА ОТ&nbsp;5%&nbsp;ОТ&nbsp;ЦЕНЫ')
				+featureItem('kitchen','СРОК ПРОИЗВОДСТВА ОТ&nbsp;35&nbsp;РАБ. ДНЕЙ')
			+catalogSlider()
			+e.materila-tabs.tabs.swiper
				.tabs__caption.swiper-wrapper
					.tabs__btn.swiper-slide.active ФАСАДЫ
					.tabs__btn.swiper-slide КОРПУСА
					.tabs__btn.swiper-slide СТОЛЕШНИЦЫ
					.tabs__btn.swiper-slide ФУРНИТУРА
				.tabs__content.active
					.row
						.d-none.d-lg-block.col-lg-5
							+img('img/tab-kitchen.jpg')
						.col-lg-7
							.tabs-inner(style="display: none;")
								.tabs-inner__caption
									.tabs-inner__btn.active(href="#tab1") МДФ с ПВХ
									.tabs-inner__btn(href="#tab2") МДФ
									.tabs-inner__btn(href="#tab3") Пластик
									.tabs-inner__btn(href="#tab4") Масив
									.tabs-inner__btn(href="#tab5") ЛДСП
								.tab-inner__body
									.tabs-inner__content.active(id='tab1')
										.tabs-inner__title ФАСАДЫ ИЗ МДФ С ПВХ - ПЛЕНКОЙ
										.tabs-inner__img-wrap.d-md-none
											+img('img/inner-tab.jpg')
										p Встроенную мебель нельзя перенести, сдвинуть, она плохо поддается демонтажу и&nbsp;сложно монтируется. Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
										.tabs-inner__adv
											.tabs-inner__adv-item
												.tabs-inner__adv-title 10 лет
												.tabs-inner__adv-descr Минимальный срок службы ПВХ-пленки
											.tabs-inner__adv-item
												.tabs-inner__adv-title 500+
												.tabs-inner__adv-descr Минимальный срок службы ПВХ-пленки
											.tabs-inner__adv-item
												.tabs-inner__adv-title Уход
												.tabs-inner__adv-descr ПВХ - пленку можно мыть
									.tabs-inner__content(id='tab2')
										p Стандарт
									.tabs-inner__content(id='tab3')
										.tabs-inner__adv
												.tabs-inner__adv-item
													.tabs-inner__adv-title 10 лет
													.tabs-inner__adv-descr Минимальный срок службы ПВХ-пленки
												.tabs-inner__adv-item
													.tabs-inner__adv-title 500+
													.tabs-inner__adv-descr Минимальный срок службы ПВХ-пленки
												.tabs-inner__adv-item
													.tabs-inner__adv-title Уход
													.tabs-inner__adv-descr ПВХ - пленку можно мыть
									.tabs-inner__content(id='tab4')
										.tabs-inner__adv
												.tabs-inner__adv-item
													.tabs-inner__adv-title 10 лет
													.tabs-inner__adv-descr Минимальный срок службы ПВХ-пленки
												.tabs-inner__adv-item
													.tabs-inner__adv-title 500+
													.tabs-inner__adv-descr Минимальный срок службы ПВХ-пленки
												.tabs-inner__adv-item
													.tabs-inner__adv-title Уход
													.tabs-inner__adv-descr ПВХ - пленку можно мыть
									.tabs-inner__content(id='tab5')
										.tabs-inner__adv
												.tabs-inner__adv-item
													.tabs-inner__adv-title 10 лет
													.tabs-inner__adv-descr Минимальный срок службы ПВХ-пленки
												.tabs-inner__adv-item
													.tabs-inner__adv-title 500+
													.tabs-inner__adv-descr Минимальный срок службы ПВХ-пленки
												.tabs-inner__adv-item
													.tabs-inner__adv-title Уход
													.tabs-inner__adv-descr ПВХ - пленку можно мыть
				.tabs__content
					p Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
				.tabs__content
					p Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
				.tabs__content
					p Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
	// end sCard