// start .sCard
.sCard {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};
	&__row{
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows:  auto 100%;
		gap: 33px;
		position: relative;
		align-content: start;
		align-items: start;
		@include media-breakpoint-down(lg) {
			grid-template-columns: 1;
			grid-template-rows:  auto auto auto;
			gap: 0;
			min-width: 100%;
			max-width: 100%;
		}
		// --bs-gutter-x: #{rem(32)};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{
		
	}
	&__action-buttons {
		position: absolute;
		display: inline-block;
		width: auto;
		top: -77px;
		right: 0;
		@include media-breakpoint-down(lg) {
			left: 0;
			top: 20px;
		}
		button {
			width: 40px;
			height: 32px;
			background: rgba(193, 101, 101, 0.1);
			border-radius: 4px;
			border: none;
			@include mt;
			&:not(:last-child) {
				margin-right: 8px;
			}
			&:hover, &.active {
				background: $red;
				.icon {
					color: $white;
				}
			}
		}
		.icon {
			width: 16px;
			height: 16px;
			color: $red;
			@include mt;
		}
	}
	&__images-wrap {
		position: relative;
		// margin-bottom: 38px;
		grid-column: 1 / 9;
		@include media-breakpoint-down(xl) {
			grid-column: 1 / 8;
		}
		@include media-breakpoint-down(lg) {
			padding-top: 80px;
			grid-column: 1 / 13;
		}
	}

	&__tags {
		position: absolute;
		top: 24px;
		right: 23px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		z-index: 10;
		@include media-breakpoint-down(lg) {
			flex-direction: row;
			align-items: center;
			left: 0;
			top: -22px;
		}
		.product-item__tag {
			@include media-breakpoint-down(lg) {
				margin-bottom: 0;
				&:not(:last-child) {
					margin-right: 7px;
					margin-bottom: 0;
				}
			}
		}
	}

	&__tabs {
		grid-column: 1 / 9;
		grid-row: 2 / 3;
		@include media-breakpoint-down(xl) {
			grid-column: 1 / 8;
		}
		@include media-breakpoint-down(lg) {
			grid-column: 1 / 13;
			grid-row: 3 / 4;
			max-width: 100%;
		}
		// justify-self: start;
		margin-bottom: rem(77);
		.tabs__caption {
			display: flex;
			margin-bottom: 20px;
			align-items: stretch;
			// height: auto;
			font-weight: 600;
			line-height: 100%;
			border-bottom: 1px solid #DBDBDB;
		}
		.tabs__btn {
			padding-bottom: 27px;
			position: relative;
			width: auto;
			@include media-breakpoint-down(lg) {
				font-size: 14px;
			}
			&.active::after {
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: $red;
			}
			&:not(:last-child) {
				margin-right: rem(48);
				@include media-breakpoint-down(lg) {
					margin-right: rem(24);
				}
			}
		}
		.tabs__content {
			font-weight: 400;
			font-size: rem(18);
			line-height: 155%;
			color: $gray-600;
			p {
				margin-bottom: rem(28);
				@include media-breakpoint-down(lg) {
					font-size: rem(15);
				}
			}
		}
	}
	&__descr-wrap {
		grid-column: 9 / 13;
		grid-row: 1 / 3;
		padding: 16px;
		margin-bottom: 20px;
		background: rgba($gray-100, 0.23);
		border-radius: 4px;
		@include media-breakpoint-down(xl) {
			grid-column: 8 / 13;
		}
		@include media-breakpoint-down(lg) {
			grid-column: 1 / 13;
			grid-row: 2 / 3;
		}
	}
	.product-item__form-row {
		margin-bottom: rem(24);
	}
	.product-item__text-row {
		font-size: 12px;
		font-weight: 600;
	}
	.product-item__text-title {
		color: $gray-600;
	}
	.icon-question {
		width: 16px;
		height: 16px;
		margin-left: 5px;
		color: $red;
	}

	.custom-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
		margin-bottom: 0;
    padding-left: 0;
		min-height: 0;
    text-align: center;
		&:not(:last-child) {
			margin-right: 8px;
		}
	}
	.custom-input__input {
    position: absolute;
    left: 20px;
    top: 0;
		height: 100%;
    opacity: 1;
    width: 100%;
    z-index: 2;
    background-color: transparent;
		border: none;
	}
	.form-check-input[type=radio] {
		width: 95%;
		height: 100%;
		margin-top: 0;
    border-radius: 4px;
		&:checked {
			background-color: $red;
			background-image: none;
			border: none;
			&+span {
				color: $white;
			}
		}
	}
	.custom-input__text {
		position: relative;
		padding: 0 6px;
    z-index: 10;
    pointer-events: none;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		padding-top: 31px;
		margin-bottom: 31px;
		@include media-breakpoint-down(lg) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;
		}
		@include media-breakpoint-down(sm) {
			grid-template-columns: 1fr;
		}
	}

	&__btn {
		padding: 11px 18px;
		vertical-align: top;
		@include media-breakpoint-down(xxl) {
			padding: 7px 10px;
		}
	}

	&__descr {
		display: grid;
		grid-template-columns: 32px auto;
		gap: 25px 24px;
		margin-bottom: 46px;
		.icon {
			width: 32px;
			height: 32px;
		}
	}
	&__term {
		font-weight: 600;
		font-size: 10px;
		line-height: 155%;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: $gray-600;
	}
	&__defenition {
		font-weight: 600;
		font-size: 12px;
		line-height: 155%;
	}
	&__news-title {
		margin-bottom: 24px;
		font-size: 24px;
		font-weight: 500;
	}
	.news-item {
		max-width: 330px;
		&:not(:last-child) {
			margin-bottom: 24px;
		}
	}
	.news-item__date {
		margin-bottom: 8px;
	}
	.news-item__title {
		font-size: 20px;
	}
	&__news-archive {
		display: flex;
		align-items: center;
		font-size: 12px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		font-weight: 600;
		.icon {
			width: 16px;
			margin: 0 16px;
		}
	}
	&__features-row {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 71px;
		margin-bottom: rem(75);
		@include media-breakpoint-down(lg) {
			gap: 40px;
		}
	}
	&__feature {
		display: flex;
		flex-direction: column;
		align-items: center;
		.icon {
			width: 48px;
			height: 48px;
			margin-bottom: 24px;
		}
	}
	&__feature-text {
		font-weight: 600;
		font-size: 12px;
		line-height: 155%;
		text-align: center;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: $gray-600;
	}

	&__materila-tabs {
		padding-top: 40px;
		@include media-breakpoint-down(md) {
			overflow: visible;
		}
		.tabs__caption {
			display: flex;
			justify-content: space-between;
			margin-bottom: rem(44);
		}
		.tabs__btn {
			padding: 32px;
			width: 25%;
			min-width: 130px;
			text-align: center;
			font-weight: 600;
			text-transform: uppercase;
			border: 1px solid $gray-600;
			color: $gray-600;
			@include media-breakpoint-down(lg) {
				padding: 8px;
			}
			&.active {
				color: $red;
				background: rgba(193, 101, 101, 0.1);
				border-top-color: $red;
				border-bottom-color: $red;
			}
			&:first-child {
				border-radius: 4px 0px 0px 4px;
				&.active {
					border-left-color: $red;
				}
			}
			&:last-child {
				border-radius: 0px 4px 4px 0px;
				&.active {
					border-right-color: $red;
				}
			}
			&:not(:last-child) {
				border-right: none;
			}
		}
		.tabs__content {
			img {
				max-width: 100%;
				border-radius: 4px;
			}
		}
	}

	.tabs-inner {
		@include media-breakpoint-down(md) {
			border-bottom: 1px dashed #DBDBDB !important;
		}
		&__caption {
			padding-bottom: 22px;
			padding-top: 7px;
			margin-bottom: 46px;
			border-bottom: 1px solid #DBDBDB;
			@include media-breakpoint-up(lg) {
				display: flex;
			}
		}
		&__btn {
			position: relative;
			width: auto;
			font-weight: 600;
			cursor: pointer;
			@include media-breakpoint-down(md) {
				padding-top: 16px;
				padding-bottom: 16px;
				font-size: 20px;
				border-top: 1px dashed #DBDBDB;
				text-transform: uppercase;
			}
			&:not(:last-child) {
				margin-right: rem(48);
				@include media-breakpoint-down(md) {
					margin-right: 0;
				}
			}
			&.active::after {
				content: '';
				position: absolute;
				bottom: -24px;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: $red;
				@include media-breakpoint-down(md) {
					content: none;
				}
			}
		}
		&__img-wrap {
			margin-bottom: 16px;
			overflow: hidden;
			border-radius: $border-radius;
			img {
				width: 100%;
				height: auto;
				max-width: 100%;
			}
		}
		&__title {
			margin-bottom: 24px;
			font-weight: 500;
			font-size: rem(32);
			line-height: 100%;
			text-transform: uppercase;
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
		&__content {
			&:not(.active) {
				display: none;
			}
			p {
				margin-bottom: 55px;
				font-size: 18px;
				line-height: 155%;
				@include media-breakpoint-down(sm) {
					margin-bottom: 16px;
				}
			}
		}
		&__adv {
			display: flex;
			@include media-breakpoint-down(sm) {
				flex-direction: column;
			}
		}
		&__adv-item {
			&:not(:last-child) {
				margin-right: 20px;
				@include media-breakpoint-down(sm) {
					margin-right: 0;
				}
			}
		}
		&__adv-title {
			margin-bottom: 16px;
			font-weight: 500;
			text-transform: uppercase;
			@include media-breakpoint-up(sm) {
				margin-bottom: 11px;
				font-size: rem(20);
			}
		}
		&__adv-descr {
			max-width: 192px;
			font-size: 15px;
			line-height: 155%;
			color: $gray-600;
			@include media-breakpoint-down(sm) {
				max-width: none;
				margin-bottom: 16px;
			}
			&:not(:last-child) {
				margin-right: 17px;
				@include media-breakpoint-down(sm) {
					margin-right: 0;
				}
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCard

.card-slider {
	margin-bottom: 14px;
	overflow-y: visible;
	&__img-wrap {
		@include block(800,650);
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	.swiper-button-hand {
		color: $white;
		&-prev {
			left: 16px;
		}
		&-next {
			right: 16px;
		}
	}
}

.card-thumbs-slider {
	&::after {
		position: absolute;
		content: '';
		top: 0;
		right: -80px;
		width: 160px;
		height: 130px;
		background: linear-gradient(270.79deg, #FFFFFF 45.2%, rgba(255, 255, 255, 0) 81.59%);
		z-index: 1;
	}
	.swiper-slide {
		width: 160px;
		height: 130px;
		@include mt;
		@include media-breakpoint-down(sm) {
			width: 56px;
			height: 46px;
		}
	}
	.swiper-slide-thumb-active {
		// padding: 6px 5px;
		border: 1px solid $red;
		border-radius: 4px;
		.card-thumbs-slider__img-wrap {
			transform: scale(.93)
		}
	}
	&__img-wrap {
		@include block(160,130);
		max-width: 160px;
		border-radius: 4px;
		overflow: hidden;
		max-height: 100%;
		@include mt;
	}
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}
.accordion-tabs {
	// *zoom: 1;
	width: 100%;
	border: 1px solid #dddddd;
	border-radius: 0.1875em;
	margin-bottom: 1.5em; 
	margin-left:0;
	padding-left:0;
}
.accordion-tabs:before, 
.accordion-tabs:after {
	content: " ";
	display: table;
}
	.accordion-tabs:after {
	clear: both; 
}
.accordion-tabs li{
	list-style:none;
}
.accordion-tabs li.tab-head-cont:first-child a {
	border-top-left-radius: 0.1875em;
	border-top-right-radius: 0.1875em;
	border-top: 0;
}
.accordion-tabs li.tab-head-cont:last-child a {
	border-bottom-left-radius: 0.1875em;
	border-bottom-right-radius: 0.1875em; 
}
.accordion-tabs li.tab-head-cont a {
	text-decoration:none;
	border-top: 1px solid #dddddd;
	color: #888888;
	display: block;
	padding: 0.75em 0.809em;
}
.accordion-tabs li.tab-head-cont a:hover {
	color: #000000;
}
.accordion-tabs li.tab-head-cont a:focus {
	outline: none;
}
.accordion-tabs li.tab-head-cont a.is-active {
	background-color: #f7f7f7;
	border-bottom: 0; 
	color:#333333;
}
.accordion-tabs li.tab-head-cont section {
	padding: 1.5em 1.618em;
	background: #f7f7f7;
	display: none;
	overflow: hidden;
	width: 100%; 
}

/* RESPONSIVE */
@media screen and (min-width: 40em) {
	.accordion-tabs {
		border: none;
		position: relative; 
	}
	.accordion-tabs li.tab-head-cont {
		display: inline; 
	}
	.accordion-tabs li.tab-head-cont:last-child a {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	} 
	.accordion-tabs li.tab-head-cont a {
		display: inline-block;
		vertical-align: baseline;
		zoom: 1;
		*display: inline;
		*vertical-align: auto;
		border-top: 0;
		border-top-right-radius: 0.1875em;
		border-top-left-radius: 0.1875em; 
	} 
	.accordion-tabs li.tab-head-cont a.is-active {
		background-color: #f7f7f7;
		border: 1px solid #dddddd;
		border-bottom: 1px solid #f7f7f7;
		margin-bottom: -1px; 
	}
	.accordion-tabs li.tab-head-cont section {
		border-bottom-left-radius: 0.1875em;
		border-bottom-right-radius: 0.1875em;
		border: 1px solid #dddddd;
		float: left;
		left: 0;
		padding: 0.75em 0.809em;
	}
	.accordion-tabs li.tab-head-cont section p {
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
	}
}