mixin sCard(data)
	// start sCard
	+b.SECTION.sCard.section#sCard&attributes(attributes)
		.container
			+e.row.row
				.col-8
					+e.images-wrap
								.swiper.card-slider.card-slider--js
									.swiper-wrapper
										.swiper-slide
											.card-slider__img-wrap
												+e.tags
													.product-item__tag.product-item__tag--discount Скидка 15%
													.product-item__tag.product-item__tag--guarantee Гарантия 5 лет
													.product-item__tag.product-item__tag--promo Акция
												+img('img/prod-1.jpg')
										.swiper-slide
											.card-slider__img-wrap
												+e.tags
													.product-item__tag.product-item__tag--discount Скидка 15%
													.product-item__tag.product-item__tag--guarantee Гарантия 5 лет
													.product-item__tag.product-item__tag--promo Акция
												+img('img/prod-2.jpg')
										.swiper-slide
											.card-slider__img-wrap
												+e.tags
													.product-item__tag.product-item__tag--discount Скидка 15%
													.product-item__tag.product-item__tag--guarantee Гарантия 5 лет
													.product-item__tag.product-item__tag--promo Акция
												+img('img/prod-3.jpg')
										.swiper-slide
											.card-slider__img-wrap
												+e.tags
													.product-item__tag.product-item__tag--discount Скидка 15%
													.product-item__tag.product-item__tag--guarantee Гарантия 5 лет
													.product-item__tag.product-item__tag--promo Акция
												+img('img/prod-4.jpg')
										.swiper-slide
											.card-slider__img-wrap
												+e.tags
													.product-item__tag.product-item__tag--discount Скидка 15%
													.product-item__tag.product-item__tag--guarantee Гарантия 5 лет
													.product-item__tag.product-item__tag--promo Акция
												+img('img/prod-5.jpg')
									+arrow
								.swiper.card-thumbs-slider.card-thumbs-slider--js
									.swiper-wrapper
										.swiper-slide
											.card-thumbs-slider__img-wrap
												+img('img/prod-1.jpg')
										.swiper-slide
											.card-thumbs-slider__img-wrap
												+img('img/prod-2.jpg')
										.swiper-slide
											.card-thumbs-slider__img-wrap
												+img('img/prod-3.jpg')
										.swiper-slide
											.card-thumbs-slider__img-wrap
												+img('img/prod-4.jpg')
										.swiper-slide
											.card-thumbs-slider__img-wrap
												+img('img/prod-5.jpg')
					+e.tabs.tabs
						.tabs__caption
							.tabs__btn.active Оплата и рассрочка
							.tabs__btn Описание
							.tabs__btn Доставка и монтаж
							.tabs__btn Гарантии
							.tabs__btn FAQ
						.tabs__content.active
							p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
							p Встроенную мебель нельзя перенести, сдвинуть, она плохо поддается демонтажу и&nbsp;сложно монтируется. Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
							p Встроенная мебель портит стены. Да, она крепится непосредственно в&nbsp;стены, которые предварительно просверливаются для дюбелей. Но&nbsp;зачем Вам стена за&nbsp;шкафом, который будет стоять не&nbsp;один год?
						.tabs__content
							p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
						.tabs__content
							p Встроенную мебель нельзя перенести, сдвинуть, она плохо поддается демонтажу и&nbsp;сложно монтируется. Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
						.tabs__content
							p Встроенная мебель портит стены. Да, она крепится непосредственно в&nbsp;стены, которые предварительно просверливаются для дюбелей. Но&nbsp;зачем Вам стена за&nbsp;шкафом, который будет стоять не&nbsp;один год?
						.tabs__content
							p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
			.col-4
	// end sCard