mixin sQwiz(data)
	// start sQwiz
	+b.SECTION.sQwiz.section#sQwiz&attributes(attributes)
		+e.container.container
			+e.text
				+b.section-title
					//- .section-subtitle ПАЛЛАЦО&nbsp;&mdash; производство мебели для домов и&nbsp;квартир под ключ
					h2 ОТВЕТЬТЕ НА 7 ВОПРОСОВ
					h3 И ПОЛУЧИТЕ КОНСУЛЬТАЦИЮ
				+e.descr Скачайте бесплатный чек-лист для выбора производителя мебели и&nbsp;примеры меблировки в&nbsp;разных ценовых категориях
				+e.btn(href="#").btn.btn-primary
					+icon('accept')
					| Получить чек-лист и примеры
				+e.bonus
				+e.bonus-title Бонусы после прохождении теста
				+e.bonus-list
					+e.bonus-item.--disabled(href="#" download)
						+icon('docs')
						| Кейсы меблировок квартир
					+e.bonus-item.--disabled(href="#" download)
						+icon('docs')
						| Чек-лист
			+e.images
				+e.vertical-wrap
					+img('img/quiz-1.jpg')
				+e.horizontal-wrap.d-none.d-lg-block
					+img('img/quiz-2.jpg')

	// end sQwiz