// start .sNews
.sNews {
	--sPT: #{rem(52)};
	--sPB: #{rem(101)};
	--sTPB: #{rem(48)};
	@include media-breakpoint-down(md) {
		--sPT: #{rem(35)};
		--sPB: #{rem(42)};
	}
	&__row{
		--bs-gutter-x: #{rem(33)};
		// --bs-gutter-y: #{rem()};
		@include media-breakpoint-down(md) {
			margin-bottom: 28px;
		}

	}
	.section-title{
		@include media-breakpoint-down(md) {
			margin-bottom: 40px;
		}
	}
	&__col{
	}
	&__left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}
	&__item{
		
	}

	.btn {
		align-items: center;
		justify-content: center;
		padding: 10px;
		font-weight: 600;
		.icon {
			margin-left: 20px;
			width: 16px;
			height: 16px;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sNews
.news-item {
	position: relative;
	display: block;
	height: 100%;
	color: $body-color;
	&:not(:last-child) {
		margin-bottom: rem(40);
		@include media-breakpoint-down(xl) {
			margin-bottom: rem(20);
		}
		@include media-breakpoint-down(md) {
			margin-bottom: rem(40);
		}
	}
	&--pic {
		border: 1px solid #DBDBDB;
		border-radius: 4px;
		overflow: hidden;
		.news-item__text {
			padding: 0 32px;
			margin-bottom: 30px;
			// @include media-breakpoint-down(xl) {
			// 	padding: 0 16px;
			// }
		}
	}
	&--common {
		height: auto;
	}
	&--light {		
		display: flex;
		align-items: flex-end;
		padding: 32px 27px;
		border-radius: 4px;
		overflow: hidden;
		.news-item__text, .news-item__date {
			color: $white;
		}
	}
	&__img {
		margin-bottom: rem(35);
		width: 100%;
		height: auto;
		border-radius: 4px;
	}
	&__bg-img {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 4px;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&__date {
		margin-bottom: 16px;
		font-weight: 600;
		font-size: 10px;
		line-height: 155%;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: #575757;
	}
	&__title {
		font-weight: 500;
		font-size: rem(24);
		line-height: 100%;
		text-transform: uppercase;
		@include mt;
		&:hover {
			color: $body-color;
			@include media-breakpoint-up(md) {
				color: $red;
			}
		}
		@include media-breakpoint-down(md) {
			font-size: 20px;
		}
	}
}