
:root {
	--animate-delay: 1.2s;
	--bs-body-font-size: #{$em-base};

	@include media-breakpoint-up(md) {

		--sPT: #{rem(80)};
		--sPB: #{rem(90)};
		--sTPB: #{rem(40)};
	}

	--sPT: #{rem(80 * .5)};
	--sPB: #{rem(90 * .5)};
	--sTPB: #{rem(40 * .5)};


		--swiperArrowSize: #{rem(24)};
		--swiperArrowPosition: 0;
		--swiperBorderColorDef: var(--bs-primary);
		--swiperColorDef: #{rgba(255, 255, 255, 0.2)};
		--swiperBgDef: transparent;
	
		--swiperBorderColorDefHover: var(--bs-primary);
		--swiperColorDefHover: #fff;
		--swiperBgDefHover: #ffffff;

		@include media-breakpoint-up(xxl) {
			--main-slide-x: 48px ;
		}
		@include media-breakpoint-up(xl) {

			--main-slide-x: 40px ;
		}
		--main-slide-x: 22px ;

	--fancybox-bg: rgba(24, 24, 27, .77);


		--chevron-down: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
		
		--chevron-down-primary: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='#{$primary}' stroke-width='2'/%3E%3C/svg%3E%0A");

	  //  --carousel-button-width: 48px;
	  //  --carousel-button-height: 48px;

	  //  --carousel-button-svg-width: 24px;
	  //  --carousel-button-svg-height: 24px;

	  //  --carousel-button-svg-stroke-width: 2.5;
	  //  --carousel-button-svg-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0/ 0.4));
}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) {}


//
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}

