mixin sCategories(data)
	// start sCategories
	+b.SECTION.sCategories.section#sCategories&attributes(attributes)
		.container
			+b.section-title
				h2 КУХНИ НА ЗАКАЗ
				p От производителя
			+e.slide-wrap
				+e.slider--js.swiper 
					.swiper-wrapper
						+e.slide.swiper-slide
							a(href="#").active Все товары
						-for(let i=0; i<2; i++)
							+e.slide.swiper-slide
								a(href="#") Все товары
							+e.slide.swiper-slide
								a(href="#") Прямые
							+e.slide.swiper-slide
								a(href="#") Угловые
							+e.slide.swiper-slide
								a(href="#") МДФ
							+e.slide.swiper-slide
								a(href="#") Пластик
							+e.slide.swiper-slide
								a(href="#") Современные
							+e.slide.swiper-slide
								a(href="#") Лофт
							+e.slide.swiper-slide
								a(href="#") Классические
							+e.slide.swiper-slide
								a(href="#") Кантри
							+e.slide.swiper-slide
								a(href="#") Классические
							+e.slide.swiper-slide
								a(href="#") Кнопка
							+e.slide.swiper-slide
								a(href="#") Кнопка
				+arrow 
			+e.row.row
				+e.ARTICLE.col.col-md-6.col-lg-4
					+catalogRowItem2(1, 'Кухня Дестини')
				+e.ARTICLE.col.col-md-6.col-lg-4
					+catalogRowItem2(2, 'Кантри ворк')
				+e.ARTICLE.col.col-md-6.col-lg-4
					+catalogRowItem2(3, 'Саманта в яблоках')
				+e.ARTICLE.col.col-md-6.col-lg-4.d-none.d-md-block
					+catalogRowItem2(4, 'Амбасадор ЛДСП')
				+e.ARTICLE.col.col-md-6.col-lg-4.d-none.d-md-block
					+catalogRowItem2(5, 'Прелести шпона')
				+e.ARTICLE.col.col-md-6.col-lg-4.d-none.d-md-block
					+catalogRowItem2(6, 'Сруб в деталях')
				+e.ARTICLE.col.col-md-6.col-lg-4.d-none.d-lg-block
					+catalogRowItem2(7, 'Королева Елизавета')
				+e.ARTICLE.col.col-md-6.col-lg-4.d-none.d-lg-block
					+catalogRowItem2(8, 'Марсала')
				+e.ARTICLE.col.col-md-6.col-lg-4.d-none.d-lg-block
					+catalogRowItem2(9, 'Казначейские ночи')
			+e.btn(href='#').btn.btn-outline-primary Показать еще 150 моделей
				+icon('arrow-right')
	// end sCategories
