mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			.row
				.col-7
					+b.slider-main--js.swiper
						.swiper-wrapper
							- for (var x = 0; x < 3; x++)
								+e.slide.swiper-slide
									+e.item.bg-wrap
										+img("img/main-slide.jpg",'bg').picture-bg
										+e.title КАЧЕСТВЕННЫЕ КУХНИ ОТ&nbsp;ПРОИЗВОДИТЕЛЯ
										+e.btn(href="#") Расчет онлайн
						+arrow
						.swiper-pagination

				.col-5
					+b.slider-thumb--js.swiper
						.swiper-wrapper
							mixin slide(i,t)
								+e.slide.swiper-slide
									+e.item.bg-wrap(href="#")
										+img(`img/slide-${i}.jpg`,'bg').picture-bg
										+e.title= t
										+e.counter 125 моделей
							+slide(`1`,`Современные кухни`)
							+slide(`2`,`КЛАССИЧЕСКИЕ КУХНИ`)
							+slide(`3`,`Кухни в стиле лофт`)
							+slide(`4`,`КУХНИ НЕОКЛАССИКА`) 

						
	// end headerBlock