mixin sSiteMap(data)
	// start sSiteMap
	+b.sSiteMap.section#sSiteMap&attributes(attributes)
		.container
			+e.slider--js.swiper.tabs
				.tabs__caption.swiper-wrapper
					.tabs__btn.swiper-slide.active о компании
					.tabs__btn.swiper-slide категории
					.tabs__btn.swiper-slide блог
				mixin list()
					ul
						li 
							a(href="#") О компании
						li 
							a(href="#") Рассрочка
						li 
							a(href="#") Наши видео
						li 
							a(href="#") Фото наших работ
						li 
							a(href="#") Гарантия
						li 
							a(href="#") Сборка
						li 
							a(href="#") Доставка
						li 
							a(href="#") Дизайн-замер
						li 
							a(href="#") Оплата
						li 
							a(href="#") Полезные статьи
						li 
							a(href="#") Отзывы
						li 
							a(href="#") Часто задаваемы вопросы
						li 
							a(href="#") Вакансии
						li 
							a(href="#") Наши партнеры
						li 
							a(href="#") О компании
						li 
							a(href="#") Рассрочка
						li 
							a(href="#") Наши видео
						li 
							a(href="#") Фото наших работ
						li 
							a(href="#") Гарантия
						li 
							a(href="#") Сборка
						li 
							a(href="#") Доставка
						li 
							a(href="#") Дизайн-замер
						li 
							a(href="#") Оплата
						li 
							a(href="#") Полезные статьи
						li 
							a(href="#") Отзывы
						li 
							a(href="#") Часто задаваемы вопросы
						li 
							a(href="#") Вакансии
						li 
							a(href="#") Наши партнеры
				nav.tabs__content.active
					+list()
				nav.tabs__content
					+list()
				nav.tabs__content
					+list()
	// end sSiteMap