mixin sAdv(data)
	// start sAdv
	+b.sAdv.section#sAdv&attributes(attributes)
		.container
			.row
				mixin item(i,t)
					+e.col.col-6.col-lg-3
						+e.img-wrap
							+img(`img/svg/adv-${i}.svg`)
						p!= t
				+item(`1`,`Собственное производство&nbsp;мебели и&nbsp;фасадов`)
				+item(`2`,`Продукция  сертифицирована`)
				+item(`3`,`Экологически  чистые материалы  и&nbsp;европейская фурнитура`)
				+item(`4`,`Комплектуем интерьеры&nbspпод&nbspключ`)
	// end sAdv