mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.content
				p Дизайн-студия &laquo;Палаццо&raquo; существует с&nbsp;2008&nbsp;года. Всё это время мы&nbsp;стремимся к&nbsp;улучшению своего мастерства и&nbsp;к&nbsp;поддержке хорошей репутации. У&nbsp;нас работают только профессиональные работники, знающие своё дело. Для всех сотрудников &laquo;Палаццо&raquo; работа имеет большое значение, поэтому каждый стремится выполнять свой труд добросовестно и&nbsp;в&nbsp;установленные сроки. Благодаря стремлениям наших сотрудников стать лучше, совершенствуется и&nbsp;сама компания.
				p Наша компания занимается созданием мягкой и&nbsp;корпусной (встраиваемой в&nbsp;том числе) мебели, а&nbsp;так&nbsp;же дизайном интерьера любого помещения. Мы&nbsp;разрабатываем дизайн-проекты и&nbsp;предлагаем множество товаров для технического оборудования дома. Обеспечение обстановки комфорта и&nbsp;красоты в&nbsp;доме&nbsp;&mdash; наши основные задачи.
				p &laquo;Палаццо&raquo;&nbsp;&mdash; это современная фирма, поэтому мы&nbsp;следим за&nbsp;новыми тенденциями в&nbsp;мире мебели и&nbsp;дизайна, бизнеса и&nbsp;искусства в&nbsp;целом. Все новые технологии по&nbsp;мере возможности внедряются в&nbsp;нашу работу и&nbsp;помогают идти в&nbsp;ногу со&nbsp;временем. Мы&nbsp;стремимся соответствовать мировым стандартам экологичности продукции и&nbsp;охраны труда.
			+e.img-wrap(href="https://www.youtube.com/watch?v=L_LUpnjgPso&t=1s" data-fancybox= "sAbout-video")
				.img-wrap-center
					+img('img/sAbout-img-1.jpg')
				+e.icon 
					+icon('play')
				+e.video-content Узнайте больше о нашей компании из видео
	// end sAbout