extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/sFaq/_sFaq.pug

block variables
	- let  mainPage= 'sfaq-page' 
	- let  bg= '13-faq.jpg'

block title
	- let  title= 'ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ(FAQ)'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+topLine
		+top-nav()
	main
		+page-head2('ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ(FAQ)', 'надежные поставщики нашей компании' ,' FAQ (часто задаваемые вопросы)')
		.container.container-faq
			.row.row-faq
				.col-lg-8
					+sFaq2
				.col-lg-4
					+sForm2
	+footer()
