extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug
include ../blocks/s404/_s404.pug
include ../blocks/sCalc/_sCalc.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= '17-404.jpg'

block title
	- let  title= '404'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header()
		+topLine
		+top-nav()
	+page-head('', '' ,title)
	+s404
	+sCalc
	+footer()
