extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/footer/_footer.pug

block variables
	- let  mainPage= 'article-page' 
	- let  bg= null

block title
	- let  title= 'Доставка в предновогодний период!'
	title= title
block pagecontent
	+mob-mnu()
	
	
	+header()
		+topLine
		+top-nav()
	main
		+page-head('График работы в предновогодний период!', '' , 'доставка', 'Доставка в предновогодний период!')
		+sContent
		+sNews2('вам может быть интересно')
	+footer()
