// start .sFeedbackPage
.sFeedbackPage {
	--sPT: #{rem(10)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__btn-row {
		justify-content: space-between;
		align-items: center;
		--bs-gutter-y: #{rem(15)};
	}
	&__tags-col {
		display: flex;
		align-items: center;
	}
	&__row{
		padding-top: 40px;
		padding-bottom: 31px;
		--bs-gutter-x: #{rem(33)};
		--bs-gutter-y: #{rem(33)};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFeedbackPage