mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.ARTICLE.block
				p В&nbsp;случае претензии в&nbsp;отношении качества мебельных изделий у&nbsp;покупателя последний должен оформить претензионный бланк. Его форма является свободной. Бланк нужно отправить на&nbsp;мейл нашей компании&nbsp;&mdash; mebelsvami.by@gmail.com. При возможности нужно сделать фото причин претензии с&nbsp;помощью цифрового фотоаппарата и&nbsp;их&nbsp;тоже отправить на&nbsp;указанный мейл, изложив полную информацию относительно заказа (город заказчика, его ФИО, день заказа, наименование мебельного изделия).
			+e.ARTICLE.main-wrap
				+e.img-wrap
					.img-wrap-center
						+img('img/content-img-1.jpg')
				+e.img-desc
					+e.img-content
						h5 Современная стенка в серо-бежевых тонах с рабочей зоной.
						p 64 000 руб.
					+e.desc-block
						+img('img/content-img-1.jpg', 'bg')
			+e.ARTICLE.block
				+e.row.row
					.col-lg-7
						+e.wrap 
							p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
							p Встроенную мебель нельзя перенести, сдвинуть, она плохо поддается демонтажу и&nbsp;сложно монтируется. Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
							p Встроенная мебель портит стены. Да, она крепится непосредственно в&nbsp;стены, которые предварительно просверливаются для дюбелей. Но&nbsp;зачем Вам стена за&nbsp;шкафом, который будет стоять не&nbsp;один год?
					.col-lg-4.ms-lg-auto
						p.text-primary С&nbsp;ее&nbsp;помощью легко заполнить все пустоты и&nbsp;ниши в&nbsp;своем жилье
						p.text-primary Встроенная мебель отличается экономичностью.
						p.text-primary Для изготовления внутренних деталей нет нужды применять дорогостоящие листы (МДФ, дерево и&nbsp;прочее), а&nbsp;достаточно простого ДСП или фанеры.
			+e.ARTICLE.block
				h3 Правила эксплуатации корпусной мебели
				p Поскольку мебель отличается чувствительностью к&nbsp;лучам света, влаге, теплоте, холоду и&nbsp;сухости, следует исключить длительное влияние на&nbsp;неё всех перечисленных факторов, поскольку они могут привести к&nbsp;отрицательным изменениям во&nbsp;внешнем виде мебельных изделий, ухудшить их&nbsp;прочность, ускорить старение, коробление, искривление мебельных деталей.
			+e.ARTICLE.block
				+e.row.row
					.col-lg-6 
						+catalogRowItem(9, 'лаконичная гостиная', '125 000 руб.')
					.col-lg-6
						+img('img/sContent-img-1.jpg')
			+e.ARTICLE.block
				+e.wrap 
					p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
					p Встроенную мебель нельзя перенести, сдвинуть, она плохо поддается демонтажу и&nbsp;сложно монтируется. Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
					p Встроенная мебель портит стены. Да, она крепится непосредственно в&nbsp;стены, которые предварительно просверливаются для дюбелей. Но&nbsp;зачем Вам стена за&nbsp;шкафом, который будет стоять не&nbsp;один год?
			+e.ARTICLE.block
				+e.title Свет
				p Поскольку мебель отличается чувствительностью к&nbsp;лучам света, влаге, теплоте, холоду и&nbsp;сухости, следует исключить длительное влияние на&nbsp;неё всех перечисленных факторов, поскольку они могут привести к&nbsp;отрицательным изменениям во&nbsp;внешнем виде мебельных изделий, ухудшить их&nbsp;прочность, ускорить старение, коробление, искривление мебельных деталей.
			+e.ARTICLE.block
				+videoLg
			+e.ARTICLE.block
				+e.wrap 
					p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
					p Встроенную мебель нельзя перенести, сдвинуть, она плохо поддается демонтажу и&nbsp;сложно монтируется. Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
					p Встроенная мебель портит стены. Да, она крепится непосредственно в&nbsp;стены, которые предварительно просверливаются для дюбелей. Но&nbsp;зачем Вам стена за&nbsp;шкафом, который будет стоять не&nbsp;один год?
			+e.ARTICLE.block
				h4 Температура
				+e.wrap 
					p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
					p Встроенную мебель нельзя перенести, сдвинуть, она плохо поддается демонтажу и&nbsp;сложно монтируется. Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
					p Встроенная мебель портит стены. Да, она крепится непосредственно в&nbsp;стены, которые предварительно просверливаются для дюбелей. Но&nbsp;зачем Вам стена за&nbsp;шкафом, который будет стоять не&nbsp;один год?
			+e.ARTICLE.block
				h5 Температура
				+e.wrap 
					p К&nbsp;сожалению, во&nbsp;встроенной мебели есть и&nbsp;недостатки, как в&nbsp;любой другой мебели. Но&nbsp;они не&nbsp;столь значительны, достоинства в&nbsp;любом случае перевешивают
					p Встроенную мебель нельзя перенести, сдвинуть, она плохо поддается демонтажу и&nbsp;сложно монтируется. Встройка, которая была установлена в&nbsp;одном месте, скорее всего не&nbsp;установится в&nbsp;другом, так как все детали изначально подгоняются под кривизну и&nbsp;особенности стен, которые никогда не&nbsp;повторяются. Но&nbsp;как часто Вам приходится переносить мебель? Обычно, встроенный шкаф-купе стоит годами и&nbsp;сносится только перед капитальным ремонтом.
					p Встроенная мебель портит стены. Да, она крепится непосредственно в&nbsp;стены, которые предварительно просверливаются для дюбелей. Но&nbsp;зачем Вам стена за&nbsp;шкафом, который будет стоять не&nbsp;один год?
	// end sContent