mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				h2 Наши партнеры
				.section-subtitle Надежные поставщики нашей компании
			+e.row.row
				+partnersItem(1,descr)
				+partnersItem(2,descr)
				+partnersItem(3,descr)
				+partnersItem(4,descr)
				+partnersItem(5,descr)
				+partnersItem(6,descr)
				+partnersItem(7,descr)
				+partnersItem(1,descr)
	// end sPartnersz