mixin sFeadbacks(data)
	// start sFeadbacks
	+b.SECTION.sFeadbacks.section#sFeadbacks&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sFeadbacks
				
			.row
	// end sFeadbacks