// start .sCatalog
.sCatalog {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog

.img-wrap-center {
	@include a-cent;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		max-width: 100%;
		height: auto;
	}
}

.product-item{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: #FFFFFF; 
	border: 1px solid #E2E2E2;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	&__img-wrap{
		@include block(383, 312);
	}
	&__caption{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding: rem(20);
	}
}

// Фильтер тэгов

.tags-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-bottom: 0;
	&__item {
		margin-bottom: 4px;
		&:not(:last-child) {
			margin-right: 8px;
		}
		&:last-child {
			.btn {
				padding: 12px 20px;
			}
		}
	}
	&__btn {
		padding: 12px 20px;
		color: $red;
		font-weight: 600;
		background: $gray-100;
		border-radius: 4px;
		border: none;
	}
}

// Разделы каталога
.slider-catalog {
	margin-bottom: 40px;
	&__slide {
		max-width: 383px;
		&:not(:last-child) {
			margin-right: 33px;
			@include media-breakpoint-down(lg) {
				margin-right: 8px;
			}
		}
		@include media-breakpoint-down(lg) {
			width: 252px;
		}
	}

}

.catalog-item {
	// width: 383px;
	// height: 312px;
	max-width: 100%;
	@include block(383,312);
	border-radius: 4px;
	background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 60.16%);
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 4px;
		z-index: -1;
	}
	&__text {
		position: absolute;
		bottom: 24px;
		left: 24px;
		max-width: 150px;
	}
	&__title {
		margin-bottom: 16px;
		font-weight: 500;
		font-size: 24px;
		line-height: 100%;
		text-transform: uppercase;
		color: $white;
	}

	&__price {
		font-weight: 600;
		font-size: 10px;
		line-height: 155%;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: $gray-600;
	}
}