// start .sCatalog
.sCatalog {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog

.img-wrap-center {
	@include a-cent;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		max-width: 100%;
		height: auto;
	}
}

.product-item{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	background: #FFFFFF; 
	border: 1px solid #E2E2E2;
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	&__img-wrap{
		@include block(383, 312);
	}
	&__caption{
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding: rem(20);
	}
}

// Фильтер тэгов

.tags-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-bottom: 0;
	.swiper-wrapper {
		flex-wrap: wrap;
		@include media-breakpoint-down(sm) {
			flex-wrap: nowrap;
		}
	}
	&__item {
		margin-bottom: 4px;
		width: auto;
		&:not(:last-child) {
			margin-right: 8px;
		}
		&:last-child {
			.btn {
				padding: 12px 20px;
			}
		}
	}
	&__btn {
		padding: 12px 20px;
		color: $red;
		font-weight: 600;
		background: $gray-100;
		border-radius: 4px;
		border: none;
	}
}

// Разделы каталога
.slider-category {
	margin-bottom: 40px;
	&__slide {
		max-width: 383px;
		&:not(:last-child) {
			margin-right: 33px;
			@include media-breakpoint-down(lg) {
				margin-right: 8px;
			}
		}
		@include media-breakpoint-down(lg) {
			width: 252px;
		}
	}
}

.catalog-item {
	max-width: 100%;
	@include block(383,312);
	border-radius: 4px;
	background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 60.16%);
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 4px;
		z-index: -1;
	}
	&__text {
		position: absolute;
		bottom: 24px;
		left: 24px;
		max-width: 150px;
	}
	&__title {
		margin-bottom: 16px;
		font-weight: 500;
		font-size: 24px;
		line-height: 100%;
		text-transform: uppercase;
		color: $white;
	}

	&__price {
		font-weight: 600;
		font-size: 10px;
		line-height: 155%;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: $gray-600;
	}
}

// Слайдер в hero-блоке
.slider-container {
	@include media-breakpoint-down(sm) {
		padding: 0;
	}
}

.slider-catalog {
	margin-bottom: 24px;
	@include media-breakpoint-down(sm) {
		overflow: visible;
		padding-bottom: 50px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		padding: 48px 32px 48px 62px;
		background: $gray-900;
		border-radius: 4px;
		@include media-breakpoint-down(lg) {
			padding: 20px;
		}
		@include media-breakpoint-down(sm) {
			padding: 20px 10px;
		}
	}
	&__title {
		margin-bottom: 24px;
		font-weight: 500;
		font-size: rem(48);
		line-height: 100%;
		text-transform: uppercase;
		color: $white;
		@include media-breakpoint-down(xl) {
			max-width: 350px;
			font-size: rem(32);
		}
	}
	&__descr {
		max-width: 400px;
		margin-bottom: 23px;
		font-size: 15px;
		line-height: 155%;
		color: $gray-600;
		@include media-breakpoint-down(md) {
			max-width: none;
		}
	}
	&__controls {
		position: absolute;
		bottom: 63px;
		left: 335px;
		display: flex;
		align-items: center;
		@include media-breakpoint-down(lg) {
			bottom: 32px;
			left: 235px;
		}
		@include media-breakpoint-down(sm) {
			width: calc(100% - 30px);
			justify-content: space-between;
			bottom: 0px;
			left: 15px;
		}
	}
	&__btn {
		padding: 11px 38px;
		margin-right: 55px;
		@include media-breakpoint-down(lg) {
			padding: 11px;
		}
		@include media-breakpoint-down(md) {
			margin-right: auto;
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	.swiper-pagination {
		position: static;
		width: auto;
		margin-right: auto;
	}
	.swiper-pagination-bullet {
		background: #FFFFFF;
		opacity: 0.2;
		@include media-breakpoint-down(sm) {
			background: $gray-900;
		}
	}
	.swiper-pagination-bullet-active {
		background-color: $red;
		opacity: 1;
		@include media-breakpoint-down(sm) {
			background-color: $red;
		}
	}

	.swiper-button-hand {
		border-color: $white;
		@include media-breakpoint-down(sm) {
			border-color: $gray-900;
		}
		.icon {
			stroke: $white;
			@include media-breakpoint-down(sm) {
				stroke: $gray-900;
			}
		}
	}

	.swiper-button-disabled {
		border-color: rgba(#FFFFFF, .2);
		.icon {
			stroke: rgba(#FFFFFF, .2);
		}
	}
	img {
		max-height: 100%;
		@include media-breakpoint-down(xl) {
			max-width: 40%;
		}
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}