// start .sCatalog
.sCatalog {
	--sPT: #{rem(44)};
	--sPB: #{rem(46)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(52)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog

.img-wrap-center {
	@include a-cent;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		// max-width: 100%;
		// height: auto;
	}
}
.cat-body-row {
	--bs-gutter-x: #{rem(32)};
	--bs-gutter-y: var(--bs-gutter-x);
		margin-bottom: 31px;
		.col-md-6.col-xl-4:not(:nth-child(-n+6)) {
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
}

.catalog-body-wrap.bottom {
	margin-bottom: rem(104);
}
.catalog-body-wrap {
	padding-top: 52px;
}


.product-item{
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
	&__img-wrap{
		@include block(384,312);
		width: 100%;
		border-radius: 4px 4px 0px 0px;
		overflow: hidden;
		&::before {
			z-index: 11;
		}
	}
	&__slider-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 15;
	}
	&__slider {
		z-index: 15;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
		}
	}
	.swiper-slide::after {
		content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 60.16%);
	z-index: 11;
	}
	.swiper-button-hand {
		color: white;
		z-index: 20;
	}
	.swiper-button-hand-prev {
		left: 16px;
	}
	.swiper-button-hand-next {
		right: 16px;
	}
	&__buttons {
		position: absolute;
		top: 24px;
		left: 24px;
		z-index: 15;
		button {
			width: 40px;
			height: 32px;
			border-radius: 4px;
			border: none;
			.icon {
				width: 16px;
				height: 16px;
				color: $red;
			}
		}
		.product-item__compare-btn {
			margin-right: 8px;
			background: rgba(255, 255, 255, 0.1);
		}
		.product-item__fave-btn {
			background-color: $white;
		}
	}
	&__tags {
		position: absolute;
		top: 24px;
		right: 16px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		z-index: 15;
	}
	&__tag {
		display: inline-block;
		padding: 4px 10px;
		width: auto;
		font-weight: 600;
		font-size: 10px;
		border-radius: 4px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: 7px;
		}
		&--discount {
			color: $red;
			background-color: $body-color;
		}
		&--guarantee {
			color: $white;
			background-color: rgba(20, 20, 20, 0.5);
		}
		&--promo {
			color:$body-color;
			background-color: #F178B6;
		}
	}
	&__title {
		position: absolute;
		left: 24px;
		bottom: 24px;
		max-width: 150px;
		font-weight: 500;
		font-size: rem(24);
		line-height: 100%;
		text-transform: uppercase;
		color: $white;
		z-index: 15;
		@include media-breakpoint-down(lg) {
			font-size: rem(20);
		}
	}
	&__descr {
		flex-grow: 1;
		padding: 26px 10px 17px 24px ;
		background: $gray-100;
		color: $gray-600;
		font-size: 12px;
		font-weight: 600;
		border-radius: 0px 0px 4px 4px;
		@include media-breakpoint-down(lg) {
			padding: 16px;;
		}
	}
	.icon-question {
		width: 16px;
		height: 16px;
		margin-left: 5px;
		color: $red;
	}
	&__text {
		margin-bottom: 15px;
	}
	&__text-row {
		display: flex;
	}
	&__text-title {
		margin-bottom: 6px;
	}
	&__text-left, &__text-right {
		display: flex;
    flex-direction: column;
    align-items: flex-start;
		width: 50%;
	}
	&__form-row {
		display: flex;
		padding: 2px;
		width: auto;
		margin-bottom: 16px;
		border: 1px solid $red;
		border-radius: 4px;
	}
	.custom-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
		margin-bottom: 0;
    padding-left: 0;
		min-height: 0;
    text-align: center;
		&:not(:last-child) {
			margin-right: 8px;
		}
	}
	.custom-input__input {
    position: absolute;
    left: 20px;
    top: 0;
		height: 100%;
    opacity: 1;
    width: 100%;
    z-index: 2;
    background-color: transparent;
		border: none;
	}
	.form-check-input[type=radio] {
		width: 95%;
		height: 100%;
		margin-top: 0;
    border-radius: 4px;
		&:checked {
			background-color: $red;
			background-image: none;
			border: none;
			&+span {
				color: $white;
			}
		}
}
	.custom-input__text {
		position: relative;
		padding: 0 6px;
    z-index: 10;
    pointer-events: none;
	}
	&__price {
		margin-top: -6px;
		font-weight: 500;
		font-size: 24px;
		text-transform: uppercase;
		color: $gray-900;
		@include media-breakpoint-down(lg) {
			font-size: rem(20);
		}
	}
}

// Фильтер тэгов

.tags-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-bottom: 0;
	.swiper-wrapper {
		flex-wrap: wrap;
		@include media-breakpoint-down(sm) {
			flex-wrap: nowrap;
		}
	}
	&__item {
		margin-bottom: 4px;
		width: auto;
		&:not(:last-child) {
			margin-right: 8px;
		}
		&:last-child {
			.btn {
				padding: 12px 20px;
			}
		}
	}
	&__btn {
		padding: 12px 20px;
		color: $red;
		font-weight: 600;
		background: $gray-100;
		border-radius: 4px;
		border: none;
	}
}

// Разделы каталога
.slider-category {
	margin-bottom: 40px;
	&__slide {
		max-width: 383px;
		&:not(:last-child) {
			margin-right: 33px;
			@include media-breakpoint-down(lg) {
				margin-right: 8px;
			}
		}
		@include media-breakpoint-down(lg) {
			width: 252px;
		}
	}
	&__controls {
		display: flex;
		align-items: center;
		padding-top: 40px;
	}
	.swiper-pagination {
		position: relative;
	}
	.arrow-wrap {
		width: 100%;
	}
	.swiper-button-hand {
		color: $gray-600;
	}
}

.catalog-item {
	max-width: 100%;
	@include block(383,312);
	border-radius: 4px;
	background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 60.16%);
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 4px;
		z-index: -1;
	}
	&__img-wrap {
		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	display: block;
		// 	width: 100%;
		// 	height: 100%;
		// 	top: 0;
		// 	left: 0;
		// 	background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 60.16%);
		// 	z-index: 4;
		// 	pointer-events: none;
		// }
	}
	.swiper-slide {
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 60.16%);
			z-index: 4;
			pointer-events: none;
		}
	}
	&__text {
		position: absolute;
		bottom: 24px;
		left: 24px;
		max-width: 150px;
	}
	&__title {
		margin-bottom: 16px;
		font-weight: 500;
		font-size: 24px;
		line-height: 100%;
		text-transform: uppercase;
		color: $white;
	}

	&__price {
		font-weight: 600;
		font-size: 10px;
		line-height: 155%;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		color: $gray-600;
	}
	&--2 {
		transform: scale(1);
		background: none;
		&:hover {
			@include media-breakpoint-up(lg) {
				transform: scale(1.5);
				z-index: 125;
			}
			.swiper-button-hand {
				opacity: 1;
				pointer-events: all;
			}
			.swiper-button-disabled {
				opacity: .35;
			}
			.catalog-item__slider-wrapper {
				pointer-events: all;
			}
		}
		.catalog-item {
			&__img-wrap {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			&__slider-wrapper {
				width: 100%;
    		height: 100%;
				// z-index: -2;
    		position: relative;
				pointer-events: none;
			}
			&__slider {
				width: 100%;
    		height: 100%;
			}
			&__text {
				z-index: 4;
			}
		}
		.swiper-button-hand {
			--swiperArrowPosition: #{rem(16)};
			--swiperColorDef: #fff;
			display: none;
			opacity: 0;
			pointer-events: none;
			@include media-breakpoint-up(lg) {
				display: flex;
			}
		}
	}
}

// Слайдер в hero-блоке
.slider-container {
	@include media-breakpoint-down(sm) {
		padding: 0;
	}
}

.slider-catalog {
	margin-bottom: 24px;
	@include media-breakpoint-down(sm) {
		overflow: visible;
		padding-bottom: 50px;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		padding: 48px 32px 48px 62px;
		background: $gray-900;
		border-radius: 4px;
		@include media-breakpoint-down(lg) {
			padding: 20px;
		}
		@include media-breakpoint-down(sm) {
			padding: 20px 10px;
		}
	}
	&__title {
		margin-bottom: 24px;
		font-weight: 500;
		font-size: rem(48);
		line-height: 100%;
		text-transform: uppercase;
		color: $white;
		@include media-breakpoint-down(xl) {
			max-width: 350px;
			font-size: rem(32);
		}
	}
	&__descr {
		max-width: 400px;
		margin-bottom: 23px;
		font-size: 15px;
		line-height: 155%;
		color: $gray-600;
		@include media-breakpoint-down(md) {
			max-width: none;
		}
	}
	&__controls {
		position: absolute;
		bottom: 63px;
		left: 335px;
		display: flex;
		align-items: center;
		@include media-breakpoint-down(lg) {
			bottom: 32px;
			left: 235px;
		}
		@include media-breakpoint-down(sm) {
			width: calc(100% - 30px);
			justify-content: space-between;
			bottom: 0px;
			left: 15px;
		}
	}
	&__btn {
		padding: 11px 38px;
		margin-right: 55px;
		@include media-breakpoint-down(lg) {
			padding: 11px;
		}
		@include media-breakpoint-down(md) {
			margin-right: auto;
		}
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
	.swiper-pagination {
		position: static;
		width: auto;
		margin-right: auto;
	}
	.swiper-pagination-bullet {
		background: #FFFFFF;
		opacity: 0.2;
		@include media-breakpoint-down(sm) {
			background: $gray-900;
		}
	}
	.swiper-pagination-bullet-active {
		background-color: $red;
		opacity: 1;
		@include media-breakpoint-down(sm) {
			background-color: $red;
		}
	}

	.swiper-button-hand {
		border-color: $white;
		@include media-breakpoint-down(sm) {
			border-color: $gray-900;
		}
		.icon {
			stroke: $white;
			@include media-breakpoint-down(sm) {
				stroke: $gray-900;
			}
		}
	}

	.swiper-button-disabled {
		border-color: rgba(#FFFFFF, .2);
		.icon {
			stroke: rgba(#FFFFFF, .2);
		}
	}
	img {
		max-height: 100%;
		@include media-breakpoint-down(xl) {
			max-width: 40%;
		}
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}

// Фильтр

.filter-wrap {
	position: relative;
}

.catalog-filter {
	padding-top: 14px;
	padding-bottom: 24px;
	@include media-breakpoint-down(md) {
		position: absolute;
		top: 0;
		right: 0;
	}
	&__row {
		display: grid;
		gap: 16px;
		grid-template-columns: repeat(7, 1fr);
		margin-bottom: 10px;
		@include media-breakpoint-down(xl) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	&__input-wrap {
		position: relative;
		&::after {
			position: absolute;
			display: inline-block;
			content: '';
			bottom: 17px;
			right: 19px;
			width: 11px;
			height: 11px;
			border-right:2px solid $gray-600;
			border-bottom:2px solid $gray-600;
			transform: rotate(45deg);
		}
	}
	// label {
	// 	width: 100%;
	// }
	// .choices {
	// 	z-index: 20;
	// }
	// .choices__inner {
	// 	margin-top: 5px;
	// 	min-height: 40px;
	// 	&::after {
	// 		position: absolute;
	// 		display: inline-block;
	// 		content: '';
	// 		bottom: 17px;
	// 		right: 19px;
	// 		width: 11px;
	// 		height: 11px;
	// 		border-right:2px solid $gray-600;
	// 		border-bottom:2px solid $gray-600;
	// 		transform: rotate(45deg);
	// 	}
	// }
	// .choices__inner .choices__item.choices__item--selectable {
	// 	&:not(:first-child) {
	// 		display: none;
	// 	}
	// }
	&__dropdown-item {
		position: relative;
		&--color {
			.catalog-filter__dropdown-btn {
				padding-left: 35px;
				&::before {
					position: absolute;
					left: 8px;
					content: '';
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background-color: #EF5DA8;
				}
			}
		}
	}
	&__title, &__dropdown-title {
		display: inline-block;
		margin-bottom: 5px;
		font-weight: 600;
		font-size: 12px;
	}
	 &__dropdown-btn  {
		display: flex;
		align-items: center;
		position: relative;
		padding: 8px 14px;
		width: 100%;
		font-size: 15px;
		text-align: left;
		color: $gray-600;
		border: 1px solid #DBDBDB;
		border-radius: 4px;
		background-color: transparent;
		&.active {
			border: 1px solid $body-color;
		}
		&::after {
			position: absolute;
			display: inline-block;
			content: '';
			top: 40%;
			right: 16px;
			width: 11px;
			height: 11px;
			border-right:2px solid $gray-600;
			border-bottom:2px solid $gray-600;
			transform: rotate(45deg) translateY(-50%);
		}
	}
	&__show-dropdown {
		opacity: 1 !important;
		visibility: visible !important;
	}
	&__dropdown-body {
		position: absolute;
		left: 0;
		top: 75px;
		min-width: 100%;
		padding: 18px;
		background: #FFFFFF;
		border: 1px solid #F2F4F5;
		box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.08);
		border-radius: 8px;
		z-index: 20;
		opacity: 0;
		visibility: hidden;
		@include mt;
	}
	&__dropdown-content {
		max-height: 264px;
		padding-right: 5px;
		overflow: scroll;
		height: 100%;
		@extend .custom-scroll;
	}
	&__dropdown-summary {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 15px;
	}
	&__left, &__right {
		white-space: nowrap;
	}
	&__left {
		margin-right: 20px;
	}
	.custom-input {
		display: flex;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
	.custom-input__input {
		margin-top: 0;
		margin-right: 16px;
		width: 24px;
		height: 24px;
		border: 1px solid #7A7A7A;
		border-radius: 4px;
		background-size: 13px 10px;
	}
	.form-check-input:checked[type=checkbox] {
		box-shadow: 0px 4px 4px rgba(193, 101, 101, 0.21);
		border: none;
	}
	.form-check-input--blue+span {
		display: flex;
		align-items: center;
		padding-left: 20px;
		&::after {
			content: '';
			position: absolute;
			left: 0px;
			content: '';
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: $blue;
		}
	}
	.form-check-input--red+span {
		display: flex;
		align-items: center;
		padding-left: 20px;
		&::after {
			content: '';
			position: absolute;
			left: 0px;
			content: '';
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: $red;
		}
	}
	.form-check-input--green+span {
		display: flex;
		align-items: center;
		padding-left: 20px;
		&::after {
			content: '';
			position: absolute;
			left: 0px;
			content: '';
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: $green;
		}
	}
	.custom-input__text {
		position: relative;
		font-size: 15px;
		white-space: nowrap
	}
// 	.choices__list--multiple .choices__item {
// 		padding:0;
// 		margin-bottom: 0;
// 		font-size: 15px;
// 		color: $gray-600;
// 		border: none;
// 		background-color: transparent;
// 		// flex-shrink: 0;
// 	}
// 	input[type="search"] {
// 		display: none;
// 	}
// 	.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded] {
// 		margin-top: 14px;
// 		background: #FFFFFF;
// 		border: 1px solid #F2F4F5;
// 		box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.08);
// 		border-radius: 8px;
// 	}
// 	.choices__list--multiple {
//     display: flex;
// 	}
	
// 	.choices__list--dropdown, .choices__list[aria-expanded] {
// 		width: auto;
// 		min-width: 100%;
// 	}
// 	.choices__list--dropdown .choices__list, .choices__list[aria-expanded] .choices__list {
// 		max-height: 323px;
// 	}
// 	.choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
// 		padding: 18px 18px 18px 50px;
// 	}
// 	.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
//     background-color: $white;
// 		color: $red;
// }
// 	.choices__list {
// 		font-weight: 400;
// 		font-size: 15px;
// 	}
	
// 	.choices__list--dropdown .choices__item::before {
// 		content: '';
// 		position: absolute;
// 		left: 18px;
// 		top: 50%;
// 		transform: translateY(-50%);
// 		width: 24px;
// 		height: 24px;
// 		border: 1px solid #7A7A7A;
// 		border-radius: 4px;
// 		@include mt;
// 	}
// 	.choices__list--dropdown .choices__item.is-selected {
// 		&::before {
// 			// content: url('../img/checked.png');
// 			background-color: $red;
// 			border-color: transparent;
// 			background-image:  url('../img/checked.png');
// 			background-repeat: no-repeat;
// 			background-position: center;
// 		}
// 	}

	.btn {
		padding: 0;
		font-weight: 600;
		font-size: 12px;
		color: $red
	}
	.icon-btn {
		background-color: transparent;
		border: none;
		color: $red;
		.icon {
			width: 16px;
			height: 16px;
		}
	}
}

.catalog-sorter {
	background: rgba(#EDEDED, .23);
	@include media-breakpoint-down(md) {
		margin-top: 16px;
	}
	&__container {
		display: flex;
		align-items: center;
		padding-top: 21px;
		padding-bottom: 21px;
		font-weight: 600;
		font-size: 12px;
		@include media-breakpoint-down(xl) {
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	&.offset {
		margin-bottom: 27px;
	}
	.pagination-wrapper {
		margin-left: auto;
	}
	&__input-wrap {
		position: relative;
		margin-right: 51px;
		@include media-breakpoint-down(xl) {
			margin-bottom: 20px;
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 0;
			margin-right: 20px;
		}
		&::after {
			position: absolute;
			display: inline-block;
			content: '';
			bottom: 7px;
			right: 0;
			width: 11px;
			height: 11px;
			border-right:2px solid $gray-600;
			border-bottom:2px solid $gray-600;
			transform: rotate(45deg);
		}
		
		label {
			display: flex;
			align-items: center;
		}
		span {
			margin-right: 16px;
		}
	}
	&__input {
		padding: 0;
		padding-right: 15px;
		font-weight: 600;
		font-size: 12px;
		color: $red;
		border: none;
	}
	&__total {
		margin-right: auto;
		@include media-breakpoint-down(xl) {
			width: 50%;
			text-align: right;
			margin-right: 0;
		}
	}
	&__display {
		display: flex;
		align-items: center;
		@include media-breakpoint-down(xl) {
			width: 50%;
		}
		.btn {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 9px;
			font-weight: 600;
			font-size: 12px;
			width: 32px;
			height: 32px;
			border: 1px solid $gray-100;
			border-radius: 4px;
			color: $gray-600;
			&.active {
				border-color: $red;
				color: $body-color;
			}
		}
	}
	.icon-btn {
		margin-left: auto;
		background-color: transparent;
		border: none;
		color: $red;
		.icon {
			width: 16px;
			height: 16px;
		}
	}
	&__mob-sort{
		background-color: rgba($gray-600, .8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    width:100%;
    z-index: 1000;
		// overflow-y:hidden;
		@include mt;
		@include media-breakpoint-up(md) {
			display: none;
		}
		&.active {
			transform: translateX(0);
		}
		.catalog-filter{
			@include media-breakpoint-down(xl) {
				position: static;
			}
		}
		.catalog-filter__dropdown-item {
			margin-bottom: 20px;
		}
	}
	&__sort-body {
		position: relative;
		padding: 20px;
		width:70%;
		height: 100%;
		background-color:$white;
		overflow-y: scroll;
	}
	&__mob-close {
		cursor: pointer;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 18px;
    width: 20px;
		&:after, &:before {
			background-color: #bfc1c7;
			border-radius: 3px;
			bottom: 0;
			content: "";
			display: block;
			height: 2px;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	&__mob-title {
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: 600px;
	}
}
.slider-more {
	padding-top: rem(50);
	.swiper-slide {
		height: auto;
	}
	&__controls {
		display: flex;
		align-items: center;
		padding: 31px;
		@include media-breakpoint-down(md) {
			padding-left: 0;
			padding-right: 0;
			justify-content: space-between;
		}
	}
	.swiper-pagination {
		position: relative;
		bottom: 0;
		width: auto;
	}	
	.swiper-button-hand {
		color: $red;
	}
}
.bottom-controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	font-weight: 600;
	.pagination-wrapper {
		display: flex;
	}
	
}

.tooltips {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.tooltips .tooltiptext {
	visibility: hidden;
	width: 70px;
	background-color: $red;
	color: $white;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	bottom: 110%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 120;
	@include mt;
}
.tooltips:hover .tooltiptext {
	visibility: visible;
}