mixin productTags(...items)
	.tags-slider
		+b.tags-list--js.swiper.UL(data-mobile="false")
			.swiper-wrapper
				-for (var i = 0; i < items.length; i++)
					+e.item.swiper-slide.LI
						+e.btn.BUTTON= items[i]
				+e.item.swiper-slide.LI
					.btn.btn-outline-primary Показать все
	// /.tags-list

mixin catalogRowItem(img,title,price)
	+b.catalog-item(href="#")
		+img(`img/prod-${img}.jpg`)
		+e.text
			+e.title= title 
			+e.price= price

mixin categorySlider
	+b.slider-category--js.swiper
		.swiper-wrapper
			+e.slide.swiper-slide
				+catalogRowItem(`1`,`КУХНИ НА ЗАКАЗ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`2`,`МЕБЕЛЬ В ДЕТСКУЮ`,`от 125 000 руб.`)
			+e.slide.swiper-slide
				+catalogRowItem(`3`,`СТОЛОВЫЕ ГРУППЫ`,`от 125 000 руб.`)

mixin product-item(i, t, p ,pr)
	+b.product-item
		+e.img-wrap(href="#")
			//- если надо картинку по центру  вывести использовать обертку .img-wrap-center  - если нет- убираем
			.img-wrap-center 
				+img(`img/prod-${i}.jpg`)
		+e.caption
			+e.title!= t
			+e.text!= p
			+e.price!= pr
			+e.btn(href='#')
	// /.product-item

mixin catalogSlider
	+b.slider-catalog--js.swiper
		.swiper-wrapper
			+e.slide.swiper-slide
				+e.item
					+e.text
						+e.title ПРОЙДИТЕ ОПРОС И&nbsp;ПОЛУЧИТЕ СКИДКУ
						+e.descr Подбирите кухню ответив всего на&nbsp;7&nbsp;вопросов и&nbsp;получите скидку от&nbsp;производителя
						+btn('Подобрать кухню').btn.btn-primary
					+img('img/catalog-slider.png')
			+e.slide.swiper-slide
				+e.item
					+e.text
						+e.title ПРОЙДИТЕ ОПРОС И&nbsp;ПОЛУЧИТЕ СКИДКУ
						+e.descr Подбирите кухню ответив всего на&nbsp;7&nbsp;вопросов и&nbsp;получите скидку от&nbsp;производителя
						+btn('Подобрать кухню').btn.btn-primary
					+img('img/catalog-slider.png')
			+e.slide.swiper-slide
				+e.item
					+e.text
						+e.title ПРОЙДИТЕ ОПРОС И&nbsp;ПОЛУЧИТЕ СКИДКУ
						+e.descr Подбирите кухню ответив всего на&nbsp;7&nbsp;вопросов и&nbsp;получите скидку от&nbsp;производителя
						+btn('Подобрать кухню').btn.btn-primary
					+img('img/catalog-slider.png')
		+e.controls
			.swiper-pagination
			.arrow-wrap
				+arrow


mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+b.section-title
				h2 ПОПУЛЯРНЫЕ КУХНИ
				.section-subtitle Выбор наших клиентов в 2022 году
			+categorySlider()
			//- +b.slider-catalog--js.swiper
			//- 	.swiper-wrapper
			//- 		+e.slide.swiper-slide
			//- 			+catalogRowItem(`1`,`КУХНИ НА ЗАКАЗ`,`от 125 000 руб.`)
			//- 		+e.slide.swiper-slide
			//- 			+catalogRowItem(`2`,`МЕБЕЛЬ В ДЕТСКУЮ`,`от 125 000 руб.`)
			//- 		+e.slide.swiper-slide
			//- 			+catalogRowItem(`3`,`СТОЛОВЫЕ ГРУППЫ`,`от 125 000 руб.`)

			//- +e.row.row
			//- 	- const wrapClass="col-3"
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`1`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`2`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`3`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`4`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`5`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`6`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`7`,``,``,``) 
			//- 	+e.col(class= wrapClass)
			//- 		+product-item(`8`,``,``,``) 

	// end sCatalog