mixin topLine()
	// start topLine
	+b.topLine&attributes(attributes)
		.container
			.row
				.col-auto.col.d-lg-none.me-auto.me-lg-0
					+b.toggle-menu-mobile--js
						span
				.col
					+location()
					//- +b.city-change(href="#")
					//- 	+icon('location')
					//- 	| Москва
				.col-lg-auto.order-lg-0.order-last
					+b.menu-mobile--js
						+b.toggle-menu-mobile--js.d-lg-none
							span
						+e.NAV.inner
							ul
								li: a(href="#")  О компании
								li: a(href="#")  Партнерам
								li: a(href="#")  Отзывы
								li: a(href="#")  Контакты
				.col-auto.d-none.d-md-block
					+e.time 
						+icon('clock')
						| ПН-ПТ, с 9:00 - 18:00  
						span.text-secondary  Без перерыва
				.col-auto.d-none.d-md-block
					+e.email(href="mailto:sales@palazo.ru")
						+icon("email")
						| sales@palazo.ru
				.col-auto.d-none.d-md-block
					+b.search-toggle--js
						+icon("search")
				//- .col-auto.d-md-none
				//- 		a.top-nav__tel(href="tel:8(4942)501-621") 8 (4942) 501-621
				.col-auto.d-md-none
					a.top-nav__soc(href="https://wa.me/74942501621")
						//- +icon("whatsapp")
						+whatsappgreen()
					//- a.top-nav__soc(href="#")
					//- 	+icon("viber")
			+search
	// end topLine

mixin location()
	+b.location
		+e.dd-btn.location-btn-js
			+icon('location')
			span Москва
		+e.dd.location-dd-js
			+e.dd-inner
				+e.title
					span.d-inline Ваш город 
					span.d-inline Москва?
				+e.btns-row.row.gy-1
					.col-sm-6
						+e.btn--orange.location-close-js(type='button') Да, верно
					.col-sm-6
						+e.btn--out-gray.location-close-js(href="#modal-city" data-fancybox='') Нет, другой