mixin topLine()
	// start topLine
	+b.topLine&attributes(attributes)
		.container
			.row
				.col-md-auto.col.d-lg-none
					+b.toggle-menu-mobile--js
						span
				.col.d-none.d-md-block
					+b.city-change(href="#")
						+icon('location')
						| Москва
				.col-lg-auto.order-lg-0.order-last
					+b.menu-mobile--js
						+b.toggle-menu-mobile--js.d-lg-none
							span
						+e.inner
							ul
								li: a(href="#")  О компании
								li: a(href="#")  Партнерам
								li: a(href="#")  Отзывы
								li: a(href="#")  Контакты
				.col-auto.d-none.d-md-block
					+e.time 
						+icon('clock')
						| ПН-ПТ, с 9:00 - 18:00  
						span.text-secondary  Без перерыва
				.col-auto.d-none.d-md-block
					+e.email(href="mailto:sales@palazo.ru")
						+icon("email")
						| sales@palazo.ru
				.col-auto.d-none.d-md-block
					+b.search-toggle--js
						+icon("search")
				.col-auto.d-md-none
						a.top-nav__tel(href="tel:8(4942)501-621") 8 (4942) 501-621
				.col-auto.d-md-none
					a.top-nav__soc(href="#")
						+icon("whatsapp")
					a.top-nav__soc(href="#")
						+icon("viber")
			+search
	// end topLine