mixin s404(data)
	// start s404
	+b.SECTION.s404.section#s404&attributes(attributes)
		.container.text-center
			h1 404
			p Упс. что-то пошло не так. Мы не можем найти страницу, которую вы ищете
			a(href="#").btn.btn-primary На главную
	// end s404