.menu{
	@include media-breakpoint-up(xl) {
		// --bs-gutter-x: 56px;
	}
	@include media-breakpoint-up(lg) {
		
		max-width: rem(762);
		display: flex;
		text-align: center;
		@include roww(10px);
		flex-wrap: wrap;
		justify-content: space-between;
		border-top: none;
	}

	list-style: none;
	position: relative;
	margin-bottom: 0; 
	border-top: 1px solid $gray-100;
	li{
		list-style: none;
		// margin-left: 0;
		// margin-right: 0;
		// padding: 0;
	}
	a{
		flex-grow: 1;
		--bs-link-color: #{$body-color};
		display: block;
		padding: rem(20) calc(var(--bs-gutter-x) / 2);
	}
}
.menu-item-has-children{
	display: flex;
	@include media-breakpoint-down(lg) {
		
		width: 100%;
		flex-wrap: wrap;
	}
	position: relative;
	align-items: center;
	@include media-breakpoint-up(md) {

	}
	&> a{
		padding-right: 12px;
		&:hover {
			@include media-breakpoint-down(lg) {
				color: currentColor;
			}
		}
	}

	&::after{
		content: var(--chevron-down);
		@include mt;
	}
	&.active{
		& > a {
			color: $primary !important;
		}
		&::after{
			transform: rotateX(0);
		}
	}
	&:hover{
		&::after{
			@include media-breakpoint-up(lg) {
				content: var(--chevron-down-primary); 
			}
		}
	}
	&--second-level {
		&.active {
			& > a {
				@include media-breakpoint-up(lg) {
					color: $primary;
				}
			}
			&::after {
				content: var(--chevron-down-primary); 
				transform: rotateX(180deg);
			}
		}
		@include media-breakpoint-up(lg) {
			&:hover > .sub-menu{
				display: block !important;
			}
		}
	}
}
.sub-menu{
	display: none;
	order: 1;
	min-width: 100%;
	z-index: 200;
	border-top: 1px solid $gray-100;
	border-bottom: 1px solid $gray-100;
	@include media-breakpoint-up(lg) {
		display: none;
		// display: block !important;
		position: absolute;
		left: 0;
		top: 100%;
		min-width: 170px;
		width: 100%;
		background-color: #fff;
		border: 1px solid #dbdbdb;
		text-align: left;
    // padding: 1rem 0;
	}
	a {
		padding: rem(10);
	}
	.menu-item-has-children {
		&:after {
			margin-right: 10px;
			transform: rotate(0deg);
			@include media-breakpoint-up(lg) {
				transform: rotate(90deg);
			}
		}
		&:hover {
			// color: $body-color;
			& > a {
				color: currentColor;
				@include media-breakpoint-up(lg) {
					color: $primary;
				}
			}
			&:after {
				@include media-breakpoint-up(lg) {
					content: var(--chevron-down-primary); 
					transform: rotate(270deg);
				}
			}
			.sub-menu {
				@include media-breakpoint-up(lg) {
					display: block;
				}
			}
		}
		&.active {
			@include media-breakpoint-down(lg) {
				& > a {
					color: $primary;
				}
				&:after {
					content: var(--chevron-down-primary); 
					transform: rotate(180deg);
				}
			}
		}
	}
	.sub-menu {
		background-color: #ededed;
		// @include media-breakpoint-up(lg) {
		// 	left: -1px;
		// }
		@include media-breakpoint-up(lg) {
			left: 100%;
			top: -1px;
		}
	}
}



.toggle-menu-mobile {
	--h: #{2px};
	--color: #{$body-color};
	--position: calc(var(--h) * 4);
	&.on span {
		--color: transparent;
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
	}
	display: block;
	height: calc(var(--h)* 12);
	position: relative; 
	font-size: 24px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
		@include a-cent(y);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
	} 
}
@include media-breakpoint-down(lg) {

	

	.menu-mobile {
		position: fixed !important;
		z-index: 999;
		max-width: 85%;
		// height: calc(var(--vh, 1vh) * 100);
		width: 280px;
		top: 0;
		// left: 0;
		right: 0;
		background-color: $body-bg;
		&:not(.active){
			transform: translate3d(120%, 0,0);
			--opacity: 0;
			.toggle-menu-mobile{
				opacity: 0;
			}
		}
		@include mt(.6s);
		will-change: transform;

		
		.toggle-menu-mobile { 
			// margin-left: -15%;
			position: absolute; 
			right: 20px;
			top: 20px;
			color: #{$body-color};
			z-index: 9999; 
			span:after,
			span:before {
				--color: #{$body-color};
			}
		}
		&__inner {
			padding: rem(20);
			overflow-x: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			height: 100vh;
			// @include mt(.3s);
			// transition-delay: .4s;
			// opacity: var(--opacity);

			display: flex;
    	flex-direction: column;
			padding: calc(env(safe-area-inset-top, 0px) + 20px) 20px calc(env(safe-area-inset-bottom, 0px) + 20px);
		}

		&.active { 
			.toggle-menu-mobile {
				opacity: 1;
			}
		}


		ul {
			position: relative;
			display: block;
			margin-bottom: auto;
		}

		li {
			display: block;
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, .13);

			a {
				// font-size: 16px;

				padding: 10px 0;
				display: block;
				&:not(:hover) {
					color: #{$body-color};
				}
				@include media-breakpoint-down(md) {
					&:hover {
						color: #{$body-color};
					}
				}
			}
		}
		&__email {
			display: block;
			&:hover {
				@include media-breakpoint-up(md) {
					color: $body-color;
				}
			}
			.icon {
				margin-right: rem(15);
			}
		}
		&__row {
			--bs-gutter-y: #{rem(20)};
		}
		&__btn {
			width: 100%;
			--bs-btn-padding-x: #{rem(15)};
			--bs-btn-padding-y: #{rem(11)};
			--bs-btn-font-size: #{rem(16)};
			text-align: left;
			.icon {
				font-size: rem(24);
				margin-right: rem(10);
			}
		}
	}
}