// start .sFaq
.sFaq {
	--sPT: #{rem(76)};
	--sPB: #{rem(36)};
	--sTPB: #{rem(54)};
	@include media-breakpoint-down(sm) {
		--sPT: #{rem(23)};
		--sPB: #{rem(15)};
	}
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		margin-bottom: rem(53);
	}
	&__col{

	}
	&__item{

	}
	&--2 {
		--sPT: #{rem(0)};
		--sPB: #{rem(0)};
		@include media-breakpoint-up(lg) {
			--sPB: #{rem(104)};
		}
		.dd-group {
			&__head {
				padding: rem(26.200) rem(20) rem(26.200) 0;
			}
			&__content {
				p {
					margin-bottom: rem(29.200);
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sFaq