 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
		background: var(--bs-light);
		border-radius: 4px;
		padding: rem(5.5) rem(40);
	}
	.icon{
		font-size: rem(16);
		border: none !important;
	}
	button{
		color: var(--bs-primary);
		position: absolute;
		left: rem(8);
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.page-head {
	margin-bottom: 33px;
	padding-top: 25px;
	border-top: 1px solid #DBDBDB;;
}

.breadcrumb {
	margin-bottom: 20px !important;
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(12);
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 0.07em;
	&+.breadcrumb-item {
		padding-left: 0;
		&:before {
		padding-right: rem(12);
		content: url('../img/bc-arrow.svg');
		}
	}
	&.active a{
		color: $gray-600;
	}
}

.pagination-wrapper {
	@include media-breakpoint-down(md) {
		display: none;
	}
	@include media-breakpoint-down(xl) {
		width: 50%;
		text-align: right;
	}
	.page-link, .pagination-wrapper li .page-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		text-align: center;
		border-radius: 4px;
		margin: 0 10px;
		&:last-child {
			margin-right: 0;
		}
		&:focus {
			border-color: $red;
			color: $body-color;
		}
		&.prev {
			background-color: $red;
		}
		&.next {
			background-color: $red;
			transform: rotate(180deg);
		}
	}
	ul {
		margin-bottom: 0;
		@include media-breakpoint-down(xl) {
			justify-content: flex-end;
		}
	}
}
