 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
		background: var(--bs-light);
		border-radius: 4px;
		padding: rem(5.5) rem(40);
	}
	.icon{
		font-size: rem(16);
		border: none !important;
	}
	button{
		color: var(--bs-primary);
		position: absolute;
		left: rem(8);
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.page-head {
	margin-bottom: 33px;
	padding-top: 25px;
	border-top: 1px solid #DBDBDB;;
	h1 {
		margin-bottom: 3px;
	}
	p {
		text-transform: uppercase;
		letter-spacing: 0.07em;
		font-weight: 600;
		font-size: rem(10);
		line-height: 1.55em;
		color: $gray-600;
		margin-bottom: 0;
	}
}

.breadcrumb {
	margin-bottom: 20px !important;
	flex-wrap: nowrap;
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(12);
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 0.07em;
	&+.breadcrumb-item {
		padding-left: 0;
		&:before {
		padding-right: rem(12);
		content: url('../img/bc-arrow.svg');
		}
	}
	&.active a{
		color: $gray-600;
	}
}

.pagination-wrapper {
	@include media-breakpoint-down(md) {
		display: none;
	}
	@include media-breakpoint-down(xl) {
		width: 50%;
		text-align: right;
	}
	.page-link, .pagination-wrapper li .page-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		text-align: center;
		border-radius: 4px;
		margin: 0 10px;
		&:last-child {
			margin-right: 0;
		}
		&:focus {
			border-color: $red;
			color: $body-color;
		}
		&.prev {
			background-color: $red;
		}
		&.next {
			background-color: $red;
			transform: rotate(180deg);
		}
	}
	ul {
		margin-bottom: 0;
		@include media-breakpoint-down(xl) {
			justify-content: flex-end;
		}
	}
}

.video {
	position: relative;
	&:hover {
		img {
			transform: scale(1.1);
		}
	}
	&__img-wrap {
		@include block(382, 312);
		z-index: 1;
		border-radius: 4px;
		overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
		}
		img {
			@include mt;
			width: 100%;
			height: 100%;
		}
	}
	&__content {
		position: absolute;
		bottom: rem(22.400);
		left: 50%;
		transform: translateX(-50%);
		z-index: 3;
		width: 100%;
		@include media-breakpoint-up(xl) {
			bottom: rem(40);
		}
	}
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $primary;
		color: #fff;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(28);
		@include media-breakpoint-up(lg) {
			width: 60px;
			height: 60px;
		}
		@include media-breakpoint-up(xl) {
			width: 80px;
			height: 80px;
		}
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 3px;
			font-size: rem(24);
			flex: 0 0 auto;
			margin-left: 5px;
			@include media-breakpoint-up(xl) {
				font-size: rem(32);

			}
		}
	}
	.h4 {
		max-width: rem(276);
		margin-left: auto;
		margin-right: auto;
		text-transform: uppercase;
		margin-bottom: 0;
		text-align: center;
		color: #fff;
		font-size: rem(14);
		line-height: 1;
		@include media-breakpoint-up(xl) {
			font-size: rem(24);
		}
	}
}

.dd-group {
	border-top: 1px dashed #DBDBDB;
	&__item {
		border-bottom: 1px dashed #DBDBDB;
		&.active {
			.dd-group__head::after {
				transform: rotate(-135deg);
			}
		}
	}
	&__head {
		position: relative;
		padding: rem(23) 30px rem(23) 0;
		font-weight: 500;
		font-size: rem(24);
		text-transform: uppercase;
		color: $gray-900;
		cursor: pointer;
		@include media-breakpoint-down(md) {
			line-height: 100%;
			font-size: rem(20);
		}
		&::after {
			position: absolute;
			top: calc(50% - 4px);
			right: 0;
			transform: translateY(-50%) rotate(135deg);
			transform-origin: left 50%;
			content: '';
			width: 11px;
			height: 11px;
			border-left: 2px solid $gray-600;
			border-top: 2px solid $gray-600;
			@include mt;
		}
	}
	&__content {
		display: none;
		font-size: rem(18);
		line-height: 155%;
		color: $gray-600;
		p {
			margin-bottom: rem(34);
		}
		&.active {
			display: block;
		}
	}
}
.videoLg {
	&__img-wrap {
		@include block(1216, 684);
		border-radius: 4px;
		z-index: 1;
		overflow: hidden;
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
			z-index: -1;
		}
		img {
			@include mt;
			z-index: -1;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
	&__icon {
		@include a-cent();
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $primary;
		color: #fff;
		@include media-breakpoint-up(sm) {
			width: 80px;
			height: 80px;
		}
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 3px;
			font-size: rem(24);
			flex: 0 0 auto;
			margin-left: 5px;
			@include media-breakpoint-up(sm) {
				font-size: rem(32);
	
			}
		}
	}
	&__video-content {
		@include a-cent(x);
		position: absolute;
		bottom: 10%;
		font-size: rem(18);
		font-weight: 500;
		color: #fff;
		max-width: rem(731);
		text-transform: uppercase;
		text-align: center;
		line-height: 1;
		@include media-breakpoint-up(md) {
			font-size: rem(20);
		}
		@include media-breakpoint-up(md) {
			font-size: rem(38);
		}
		@include media-breakpoint-up(xl) {
			bottom: rem(132);
		}
	}
}