mixin sInstallmentPlan(data)
	// start sInstallmentPlan
	+b.sInstallmentPlan.section#sInstallmentPlan&attributes(attributes)
		article.container
				p Если у&nbsp;вас нет возможности внести всю сумму сразу, то&nbsp;вам на&nbsp;выручку придёт рассрочка под&nbsp;0%, которая поможет распределить сумму на&nbsp;несколько месяцев. Мы&nbsp;сотрудничаем с&nbsp;несколькими банками-партнёрами. Обратите внимание, что у&nbsp;каждого из&nbsp;них свои условия, а&nbsp;также предоставляемые сроки и&nbsp;суммы.
				ul
					li
						//- +icon('accept')
						| Первоначальный взнос – от 0 до 50%.
					li
						//- +icon('accept')
						| Срок оплаты – от 6 до 24 месяцев.
					li
						//- +icon('accept')
						| Предлагаемая сумма – от 3000 до 500000 рублей.
					li
						//- +icon('accept')
						| Рассмотрение заявки в течение 1 часа.
				p Если у&nbsp;вас нет возможности внести всю сумму сразу, то&nbsp;вам на&nbsp;выручку придёт рассрочка под&nbsp;0%, которая поможет распределить сумму на&nbsp;несколько месяцев. Мы&nbsp;сотрудничаем с&nbsp;несколькими банками-партнёрами. Обратите внимание, что у&nbsp;каждого из&nbsp;них свои условия, а&nbsp;также предоставляемые сроки и&nbsp;суммы.
	// end sInstallmentPlan